.testimonials {
  background-color: var(--tadarab-light-bg);
}

.testimonials__cards-carousel-container {
  border-radius: 0 0 5rem 5rem;
  padding-bottom: 2rem;
}
.testimonials__cards-carousel-container > div:nth-child(1) {
  padding-top: 0.5rem;
  height: 30rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}
.testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(1), .testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(2) {
  top: 47% !important;
}
.testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(1):after, .testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(2):after {
  font-size: 1.2rem !important;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2) !important;
}
.testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(1) {
  right: 1.2rem !important;
}
.testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(1):after {
  padding: 1.8rem 1.416rem 1.8rem 1.536rem !important;
}
.testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(2) {
  left: 1.2rem !important;
}
.testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(2):after {
  padding: 1.8rem 1.536rem 1.8rem 1.416rem !important;
}
.testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(3) {
  bottom: 0;
  display: block !important;
}
.testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(3) span {
  margin: 0 0.5rem 0 0.5rem;
  width: 0.7rem;
  height: 0.7rem;
}
.testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(4) {
  padding-bottom: 2rem;
}
.testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(4) > div:nth-child(n) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.testimonials__title {
  font-size: 2rem;
  font-weight: 800;
  padding: 4rem 3rem 0.8rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials__title span:nth-of-type(1) {
  color: var(--dark-black);
}
.testimonials__title span:nth-of-type(2) {
  color: var(--primary-red);
  margin-right: 0.3rem;
}

.testimonials__breif {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.063rem;
  color: var(--grey);
}

.testimonials__cards-carousel__item__container {
  width: 70.375rem;
  height: 21.438rem;
  margin-right: 7rem;
  display: flex;
  align-items: center;
  justify-content: unset;
  position: relative;
}

.testimonials__cards-carousel__item__container__img {
  width: 26.625rem;
  height: 21.438rem;
  display: inline-block;
  position: relative;
}
.testimonials__cards-carousel__item__container__img img {
  border-radius: 1.375rem;
  width: 100%;
}

.black-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  border-radius: 1.375rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.testimonials__cards-carousel__item__container__course-details-box {
  display: flex;
  align-items: center;
  justify-content: unset;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.testimonials__cards-carousel__item__container__course-details-box__trainer-img {
  display: inline-block;
}
.testimonials__cards-carousel__item__container__course-details-box__trainer-img img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.6rem;
}

.testimonials__cards-carousel__item__container__course-details-box__course-details {
  display: inline-block;
}

.testimonials__cards-carousel__item__container__course-details-box__course-details__title {
  font-size: 1.125rem;
  font-weight: 800;
  color: white;
  width: 16.8rem;
}

.testimonials__cards-carousel__item__container__course-details-box__course-details__author {
  font-size: 0.938rem;
  color: rgba(255, 255, 255, 0.8);
}

.testimonials__cards-carousel__item__container__review-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--tadarab-bg);
  width: 46.875rem;
  height: 16.875rem;
  box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.1019607843);
  border-radius: 1.25rem;
  display: inline-flex;
  padding: 1.7rem 2.5rem;
  position: absolute;
  right: 22.5rem;
}

.testimonials__cards-carousel__item__container__review-box__quote {
  position: relative;
}
.testimonials__cards-carousel__item__container__review-box__quote svg {
  width: 2.5rem;
  height: 2rem;
}

.testimonials__cards-carousel__item__container__review-box__review {
  font-size: 1.25rem;
  color: var(--grey);
  margin: 1rem 0 1rem 0;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.testimonials__cards-carousel__item__container__review-box__reviewer-details div:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--dark-black);
}
.testimonials__cards-carousel__item__container__review-box__reviewer-details div:nth-of-type(2) {
  font-size: 1.25rem;
  color: var(--grey);
}

.testimonials__cards-carousel__item__container__review-box__img {
  display: flex;
}

.testimonials__cards-carousel__item__container__review-box__course-img,
.testimonials__cards-carousel__item__container__review-box__course-name {
  display: none;
}

@media (max-width: 575px) {
  .testimonials__cards-carousel-container {
    border-radius: 0 0 5rem 5rem;
    padding-bottom: 9rem;
  }
  .testimonials__cards-carousel-container > div:nth-child(1) {
    padding: 5rem 0 0 0;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 0;
  }
  .testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(1), .testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(2) {
    top: 47% !important;
  }
  .testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(1):after, .testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(2):after {
    font-size: 2rem !important;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.2) !important;
  }
  .testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(3) {
    bottom: 0rem;
    display: block !important;
  }
  .testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(3) span {
    margin: 0 1rem 0 1rem;
    width: 1.2rem;
    height: 1.2rem;
  }
  .testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(4) {
    padding-bottom: 6rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .testimonials__cards-carousel-container > div:nth-child(1) > div:nth-child(4) > div:nth-child(n) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .testimonials__title {
    font-size: 3.75rem;
    padding: 5.25rem 0 2.344rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .testimonials__title span:nth-of-type(2) {
    margin-right: 0.3rem;
  }
  .testimonials__breif {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    padding: 0 12.5rem 0 12.5rem;
    text-align: center;
  }
  .testimonials__cards-carousel__item__container {
    width: 70.375rem;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 7rem;
    display: flex;
    align-items: center;
    justify-content: unset;
    position: relative;
  }
  .testimonials__cards-carousel__item__container__img {
    display: none;
  }
  .testimonials__cards-carousel__item__container__img img {
    border-radius: 3.4375rem;
    width: 100%;
  }
  .black-overlay {
    border-radius: 3.4375rem;
  }
  .testimonials__cards-carousel__item__container__course-details-box {
    display: flex;
    align-items: center;
    justify-content: unset;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
  .testimonials__cards-carousel__item__container__course-details-box__trainer-img {
    display: inline-block;
  }
  .testimonials__cards-carousel__item__container__course-details-box__trainer-img img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.6rem;
  }
  .testimonials__cards-carousel__item__container__course-details-box__course-details {
    display: inline-block;
  }
  .testimonials__cards-carousel__item__container__course-details-box__course-details__title {
    font-size: 1.125rem;
  }
  .testimonials__cards-carousel__item__container__course-details-box__course-details__author {
    font-size: 0.938rem;
  }
  .testimonials__cards-carousel__item__container__review-box {
    width: 46.875rem;
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 3.125rem;
    padding: 0 4.688rem 3rem 4.688rem;
    position: static;
  }
  .testimonials__cards-carousel__item__container__review-box__quote svg {
    width: 6.25rem;
    height: 7.8rem;
  }
  .testimonials__cards-carousel__item__container__review-box__review {
    font-size: 2.5rem;
    margin: 1rem 0 1.5rem 0;
  }
  .testimonials__cards-carousel__item__container__review-box__reviewer-details div:nth-of-type(1) {
    font-size: 3rem;
  }
  .testimonials__cards-carousel__item__container__review-box__reviewer-details div:nth-of-type(2) {
    font-size: 2.5rem;
  }
  .testimonials__cards-carousel__item__container__review-box__img {
    display: none;
  }
  .testimonials__cards-carousel__item__container__review-box__course-img {
    display: block;
  }
  .testimonials__cards-carousel__item__container__review-box__course-img img {
    width: calc(100% + 9.376rem);
    margin-right: -4.688rem;
    border-radius: 3.125rem 3.125rem 0 0;
    height: 34rem;
  }
  .testimonials__cards-carousel__item__container__review-box__course-name {
    display: block;
    position: absolute;
    bottom: 2rem;
    right: 0;
    font-size: 2.2rem;
    color: white;
    text-shadow: 0.1875rem 0.1875rem 2.2rem #000000, 0.1875rem 0.1875rem 2.2rem #000000, 0.1875rem 0.1875rem 2.2rem #000000, 0.1875rem 0.1875rem 2.2rem #000000;
    display: flex;
    align-items: center;
    justify-content: unset;
  }
  .testimonials__cards-carousel__item__container__review-box__course-name img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin-left: 1.5rem;
    box-shadow: 0rem 0rem 2.5rem 0.2rem rgba(0, 0, 0, 0.6705882353);
  }
  .testimonials__cards-carousel__item__container__review-box__course-name div {
    font-size: 2rem;
  }
}/*# sourceMappingURL=testimonials.module.css.map */