@import "../../styles/mixins";


.tadarab-for-business {
    @include flex(unset, center);
}

.tadarab-for-business__container {
    background-color: #0E0B1D;
    width: 73rem;
    height: 26.25rem;
    border-radius: 2.5rem;
    margin-top: 4rem;
    @include flex(center);

}

.tadarab-for-business__container__img {
    width: fit-content;
    margin-right: 5rem;
    border-radius: 1rem;
    background-color: white;

    img {
        width: 16.25rem;
        height: 16.25rem;
        border-radius: 1.875rem;
    }
}

.tadarab-for-business__container__details-box {
    width: 34.5rem;
    margin-right: 4.844rem;

}

.tadarab-for-business__container__details-box__title {
    font-size: 1.875rem;
    font-weight: 800;

    span:nth-of-type(1) {
        color: white;
    }

    span:nth-of-type(2) {
        color: var(--primary-red);
    }
}

.tadarab-for-business__container__details-box__breif {
    font-size: 1.063rem;
    color: white;
    padding: 2.063rem 0 2.063rem 0;

    &>div:nth-of-type(1) {
        margin-bottom: 1rem;
    }

}

.tadarab-for-business__container__details-box__btn {
    @include contained-button;
    width: 10rem;
    height: 3.125rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}


@media (max-width:575px) {

    .tadarab-for-business {
        @include flex(unset, center);
    }

    .tadarab-for-business__container {
        width: 73rem;
        height: fit-content;
        border-radius: 6rem;
        margin: 10rem 3.125rem 3rem 3.125rem;
        @include flex(center, center);
        flex-direction: column;

    }

    .tadarab-for-business__container__img {
        width: fit-content;
        // margin-right: 15rem;
        border-radius: 2.5rem;
        margin: 5.5rem 0rem 3rem 0;

        img {
            width: 35rem;
            height: 35rem;
            border-radius: 1.875rem;
        }
    }

    .tadarab-for-business__container__details-box {
        text-align: center;
        width: 100%;
        margin-right: 0rem;

    }

    .tadarab-for-business__container__details-box__title {
        font-size: 3.5rem;
    }

    .tadarab-for-business__container__details-box__breif {
        font-size: 2rem;
        padding: 2.219rem 4.609rem 2.5rem 4.609rem;

        &>div:nth-of-type(1) {
            margin-bottom: 1rem*2.3;
        }

    }

    .tadarab-for-business__container__details-box__btn {
        @include contained-button;
        width: 40rem;
        height: 7.5rem;
        font-size: 2.5rem;
        padding: 0.9375rem 1.875rem;
        border-radius: 1.3rem*1.5;
        margin-bottom: 5rem;
    }

}