.unsubscribe-popup__modal > div > div {
  background-color: var(--tadarab-light-bg);
}

.unsubscribe-popup__title {
  color: var(--dark-black);
}

.unsubscribe-popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 !important;
  color: var(--dark-black);
}
.unsubscribe-popup__header div {
  font-size: 1.5rem;
  font-weight: 700;
}
.unsubscribe-popup__header button {
  margin: 0 !important;
  margin-right: auto !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") !important;
}

.unsubscribe-popup__body {
  color: var(--dark-black);
}
.unsubscribe-popup__body > div:nth-of-type(1) {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.1rem;
}

.unsubscribe-popup__category-card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
}
.unsubscribe-popup__category-card-container > div {
  padding: 1.5rem 2rem !important;
}
.unsubscribe-popup__category-card-container > div > div:nth-child(1), .unsubscribe-popup__category-card-container > div > div:nth-child(2) {
  top: 34% !important;
}

.unsubscribe-popup__category-card {
  width: 8rem;
  height: 8rem;
  border: 0.0504rem solid rgba(0, 0, 0, 0.1490196078);
  border-radius: 0.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin: 0 0.5rem 1rem 0.5rem;
  cursor: pointer;
  background-color: var(--tadarab-bg);
}
.unsubscribe-popup__category-card:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1019607843);
}

.unsubscribe-popup__category-card__img-box {
  width: 2.5rem !important;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--primary-red);
  display: flex;
  align-items: center;
  justify-content: center;
}
.unsubscribe-popup__category-card__img-box img {
  width: 1.6rem;
  height: 1.6rem;
}

.unsubscribe-popup__category-card__department {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--dark-black);
  margin-top: 0.24rem;
}

.unsubscribe-popup__category-card__learners-number {
  font-size: 0.7rem;
  color: var(--grey);
  margin-top: 0.24rem;
}

.unsubscribe-popup__footer,
.unsubscribe-popup__footer2,
.unsubscribe-popup__footer3 {
  border: 0;
  padding-top: 0;
  padding: 0 1.25rem 0.5rem 1.25rem;
  color: var(--dark-black);
}
.unsubscribe-popup__footer a,
.unsubscribe-popup__footer2 a,
.unsubscribe-popup__footer3 a {
  font-size: 0.85rem;
  font-weight: 400;
  cursor: pointer;
  margin: 0.25rem auto;
  color: var(--dark-black);
}
.unsubscribe-popup__footer a:is(.unsubscribe-popup__footer a:hover, .unsubscribe-popup__footer a:active,
.unsubscribe-popup__footer2 a:hover,
.unsubscribe-popup__footer2 a:active,
.unsubscribe-popup__footer3 a:hover,
.unsubscribe-popup__footer3 a:active),
.unsubscribe-popup__footer2 a:is(.unsubscribe-popup__footer a:hover, .unsubscribe-popup__footer a:active,
.unsubscribe-popup__footer2 a:hover,
.unsubscribe-popup__footer2 a:active,
.unsubscribe-popup__footer3 a:hover,
.unsubscribe-popup__footer3 a:active),
.unsubscribe-popup__footer3 a:is(.unsubscribe-popup__footer a:hover, .unsubscribe-popup__footer a:active,
.unsubscribe-popup__footer2 a:hover,
.unsubscribe-popup__footer2 a:active,
.unsubscribe-popup__footer3 a:hover,
.unsubscribe-popup__footer3 a:active) {
  color: var(--primary-red);
}

.unsubscribe-popup__body__unsubscription-cons-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.unsubscribe-popup__body__unsubscription-cons-list {
  list-style-type: none;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.1rem;
}

.unsubscribe-popup__body__unsubscription-cons-img {
  width: 4rem;
  height: 4rem;
  margin: 1rem 0;
}

.unsubscribe-popup__footer2,
.unsubscribe-popup__footer3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.unsubscribe-popup__footer2 a:nth-of-type(1),
.unsubscribe-popup__footer2 a:nth-of-type(2),
.unsubscribe-popup__footer3 a:nth-of-type(1),
.unsubscribe-popup__footer3 a:nth-of-type(2) {
  padding: 0.5rem 1.25rem;
  border-radius: 0.625rem;
  margin: 0.5rem 0;
}
.unsubscribe-popup__footer2 a:nth-of-type(2):is(.unsubscribe-popup__footer2 a:nth-of-type(2):hover, .unsubscribe-popup__footer2 a:nth-of-type(2):active,
.unsubscribe-popup__footer3 a:nth-of-type(2):hover,
.unsubscribe-popup__footer3 a:nth-of-type(2):active),
.unsubscribe-popup__footer3 a:nth-of-type(2):is(.unsubscribe-popup__footer2 a:nth-of-type(2):hover, .unsubscribe-popup__footer2 a:nth-of-type(2):active,
.unsubscribe-popup__footer3 a:nth-of-type(2):hover,
.unsubscribe-popup__footer3 a:nth-of-type(2):active) {
  color: var(--dark-black);
}

.reason-for-unsubscription {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  text-align: right !important;
}
.reason-for-unsubscription ul {
  list-style-type: none;
}
.reason-for-unsubscription ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reason-for-unsubscription input {
  cursor: pointer;
  margin: 0 0 0 0.75rem;
  width: 1.2rem;
  height: 1.2rem;
}
.reason-for-unsubscription input:focus {
  border-color: rgba(0, 0, 0, 0.25);
}
.reason-for-unsubscription input:checked {
  background-color: var(--primary-red);
  border-color: var(--primary-red);
}

.reason-for-unsubscription__another-reason {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 2rem 0 0 0 !important;
}
.reason-for-unsubscription__another-reason div {
  text-align: center;
}

.reason-for-unsubscription__another-reason-input-field {
  border: 0.1rem solid rgba(119, 119, 119, 0.2) !important;
  padding: 1rem;
  font-family: "Almarai", sans-serif;
  width: 100%;
  height: 5.625rem;
  font-size: 0.9rem;
  border-radius: 0.75rem;
  margin-top: 0.5rem;
  resize: none;
  overflow: hidden;
}
.reason-for-unsubscription__another-reason-input-field:active, .reason-for-unsubscription__another-reason-input-field:focus {
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
.reason-for-unsubscription__another-reason-input-field::-moz-placeholder {
  color: rgba(34, 34, 34, 0.5);
  font-size: 0.9rem;
}
.reason-for-unsubscription__another-reason-input-field:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
  font-size: 0.9rem;
}
.reason-for-unsubscription__another-reason-input-field::placeholder {
  color: rgba(34, 34, 34, 0.5);
  font-size: 0.9rem;
}

.error-msg {
  color: red;
  font-size: 0.8125rem;
}

@media (max-width: 1200px) {
  .unsubscribe-popup__category-card-container > div {
    padding: 1.95rem 2.6rem !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(1), .unsubscribe-popup__category-card-container > div > div:nth-child(2) {
    top: 33% !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(1):after, .unsubscribe-popup__category-card-container > div > div:nth-child(2):after {
    font-size: 1.3rem !important;
    box-shadow: 0 0 1.625rem rgba(0, 0, 0, 0.2) !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(1) {
    right: 1.3rem !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(1):after {
    padding: 1.95rem 1.534rem 1.95rem 1.664rem !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(2) {
    left: 1.3rem !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(2):after {
    padding: 1.95rem 1.664rem 1.95rem 1.534rem !important;
  }
  .unsubscribe-popup__category-card {
    width: 8.5rem;
    height: 8.5rem;
    border: 0.05355rem solid rgba(0, 0, 0, 0.1490196078);
    border-radius: 0.6375rem;
    margin: 0 0.5rem 1rem 0.5rem;
  }
  .unsubscribe-popup__category-card:hover {
    box-shadow: 0 0 1.59375rem rgba(0, 0, 0, 0.1019607843);
  }
  .unsubscribe-popup__category-card__img-box {
    width: 2.65625rem !important;
    height: 2.65625rem;
    border-radius: 50%;
  }
  .unsubscribe-popup__category-card__img-box img {
    width: 1.7rem;
    height: 1.7rem;
  }
  .unsubscribe-popup__category-card__department {
    font-size: 0.9rem;
    margin-top: 0.27rem;
  }
  .unsubscribe-popup__category-card__learners-number {
    font-size: 0.7875rem;
    margin-top: 0.27rem;
  }
}
@media (max-width: 980px) {
  .unsubscribe-popup__category-card-container {
    margin-top: 2rem;
  }
  .unsubscribe-popup__category-card-container > div {
    padding: 2.1rem 2.8rem !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(1), .unsubscribe-popup__category-card-container > div > div:nth-child(2) {
    top: 31% !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(1):after, .unsubscribe-popup__category-card-container > div > div:nth-child(2):after {
    font-size: 1.4rem !important;
    box-shadow: 0 0 1.75rem rgba(0, 0, 0, 0.2) !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(1) {
    right: 1.4rem !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(1):after {
    padding: 2.1rem 1.652rem 2.1rem 1.792rem !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(2) {
    left: 1.4rem !important;
  }
  .unsubscribe-popup__category-card-container > div > div:nth-child(2):after {
    padding: 2.1rem 1.792rem 2.1rem 1.652rem !important;
  }
  .unsubscribe-popup__category-card {
    width: 8.5rem;
    height: 8.5rem;
    border: 0.05355rem solid rgba(0, 0, 0, 0.1490196078);
    border-radius: 0.6375rem;
    margin: 0 0.5rem 1rem 0.5rem;
  }
  .unsubscribe-popup__category-card:hover {
    box-shadow: 0 0 1.59375rem rgba(0, 0, 0, 0.1019607843);
  }
  .unsubscribe-popup__category-card__img-box {
    width: 2.65625rem !important;
    height: 2.65625rem;
    border-radius: 50%;
  }
  .unsubscribe-popup__category-card__img-box img {
    width: 1.7rem;
    height: 1.7rem;
  }
  .unsubscribe-popup__category-card__department {
    font-size: 1rem;
    margin-top: 0.3rem;
  }
  .unsubscribe-popup__category-card__learners-number {
    font-size: 0.875rem;
    margin-top: 0.3rem;
  }
}
@media (max-width: 575px) {
  .unsubscribe-popup__header {
    padding: 1rem 0.5rem !important;
  }
  .unsubscribe-popup__header div {
    font-size: 2.7rem;
  }
  .unsubscribe-popup__body > div:nth-of-type(1) {
    width: 100%;
    font-size: 1.98rem;
  }
  .unsubscribe-popup__category-card-container {
    margin: 2rem 0 0 0;
  }
  .unsubscribe-popup__category-card {
    width: 17rem;
    height: 17rem;
    border: 0.1071rem solid rgba(0, 0, 0, 0.1490196078);
    border-radius: 1.275rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem 1rem 0.5rem;
  }
  .unsubscribe-popup__category-card:hover {
    box-shadow: 0 0 3.1875rem rgba(0, 0, 0, 0.1019607843);
  }
  .unsubscribe-popup__category-card__img-box {
    width: 6.25rem !important;
    height: 6.25rem;
    background-color: var(--primary-red);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .unsubscribe-popup__category-card__img-box img {
    width: 4rem;
    height: 4rem;
  }
  .unsubscribe-popup__category-card__department {
    font-size: 2.2rem;
    margin-top: 0.51rem;
  }
  .unsubscribe-popup__category-card__learners-number {
    font-size: 1.925rem;
    margin-top: 0.51rem;
  }
  .unsubscribe-popup__footer {
    padding: 0 3.125rem 1.25rem 3.125rem;
  }
  .unsubscribe-popup__footer a {
    font-size: 1.7rem;
    margin: 0.625rem auto;
    text-underline-offset: 0.25rem;
  }
  .unsubscribe-popup__body__unsubscription-cons-list {
    margin: 0 auto;
    font-size: 1.87rem;
  }
  .unsubscribe-popup__body__unsubscription-cons-img {
    width: 6.8rem;
    height: 6.8rem;
    margin: 1.7rem 0;
  }
  .unsubscribe-popup__footer2 a:nth-of-type(1),
.unsubscribe-popup__footer2 a:nth-of-type(2),
.unsubscribe-popup__footer3 a:nth-of-type(1),
.unsubscribe-popup__footer3 a:nth-of-type(2) {
    padding: 0.85rem 2.125rem;
    border-radius: 1.0625rem;
    margin: 0.85rem 0;
    font-size: 1.649rem;
  }
  .reason-for-unsubscription input {
    margin: 0 0 0 1.275rem;
    width: 2.04rem;
    height: 2.04rem;
  }
  .reason-for-unsubscription__another-reason {
    font-size: 1.53rem;
    margin: 2rem 0 0 0 !important;
  }
  .reason-for-unsubscription__another-reason-input-field {
    border: 0.17rem solid rgba(119, 119, 119, 0.2) !important;
    padding: 1.7rem;
    height: 9.5625rem;
    font-size: 1.53rem;
    border-radius: 1.275rem;
    margin-top: 0.85rem;
  }
  .reason-for-unsubscription__another-reason-input-field:active, .reason-for-unsubscription__another-reason-input-field:focus {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
  }
  .reason-for-unsubscription__another-reason-input-field::-moz-placeholder {
    font-size: 1.53rem;
  }
  .reason-for-unsubscription__another-reason-input-field:-ms-input-placeholder {
    font-size: 1.53rem;
  }
  .reason-for-unsubscription__another-reason-input-field::placeholder {
    font-size: 1.53rem;
  }
  .error-msg {
    font-size: 1.625rem;
  }
}/*# sourceMappingURL=unsubscribe-popup.module.css.map */