@import "../../../styles/mixins";


.courses-departments__container {
    padding: 3rem 3rem 0 3rem;
    @include flex(center, space-between)
}

.courses-departments__container__title {
    font-size: 2rem;
    font-weight: 800;

    span:nth-of-type {
        color: $dark-black;
    }

    span:nth-of-type(2) {
        color: $primary-red;
    }
}

.courses-departments__container__show-all-btn {
    @include outlined-button;
    font-size: 1.063rem;
    color: $primary-red;
    font-weight: 700;
    width: 13.125rem;
    height: 2.75rem;
    border: 0.125rem solid rgba(175, 21, 31, 0.2) !important;
    border-radius: 0.75rem;
    @include flex(center, space-around);

    &:hover,
    &:active {
        background-color: white !important;
        color: $primary-red !important;
        border: 0.125rem solid rgba(175, 21, 31, 0.2) !important;
    }

    svg {
        // width: 0.5rem;
        // height: 0.875rem;
    }
}

.courses-departments__cards-carousel {
    margin-top: 2.5rem;
    
    &>div {
        padding: 0 2rem !important;
        &>div:nth-child(1),
        &>div:nth-child(2) {
            top: 34% !important
        }
        // &>div:nth-child(3) {
        //  display: none;
        // }


    }
}


.courses-departments__cards-carousel__departments-card {
    width: 10rem;
    height: 10rem;
    border: 0.063rem solid #00000026;
    border-radius: 0.75rem;
    text-align: center;
    // margin-right: 2rem;
    // margin-left: 2rem;
    @include flex(center, center);
    display: inline-flex;


    &:hover {
        box-shadow: 0 0 1.875rem #0000001A;
    }
}

.courses-departments__cards-carousel__departments-card__img-box {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background-color: $primary-red;
    @include flex(center, center);

    // svg {
    //     width: 1.875rem;
    //     height: 1.75rem;
    // }
}



.courses-departments__cards-carousel__departments-card__department {
    font-size: 1rem;
    font-weight: 700;
    color: $dark-black;
    margin-top: 0.3rem;

}

.courses-departments__cards-carousel__departments-card__learners-number {
    font-size: 0.875rem;
    color: $grey;
    margin-top: 0.3rem;
}


// swiper

.swiper {
    width: fit-content;
    height: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 1.125rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

