@import "../../../styles/mixins";

.course-price {
    display: flex;
    align-items: center;
    justify-content: unset;
    color: var(--grey);
    font-size: 0.75rem;
    text-align: center;
    flex-direction: column;

    .orignal-price {
        text-decoration: line-through rgba(175, 21, 31, 0.5);
    }

    .sale-price {
        font-size: .9rem;
        color: black;
    }

    span {
        margin: 0 0.1rem 0 0;
    }
}

.monthly-subscription__course-card {
    margin: 5.5rem 0.5rem 0 0;
    padding: 1.25rem 1.625rem 0 1.625rem;
    width: 22rem;
    // height: 34.063rem;
    box-shadow: 0 0 1.25rem #0000001A;
    border-radius: 1.25rem;
    position: sticky;
    top: 5.5rem;
}

.monthly-subscription__course-card-helper {
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    position: unset;
}

.ribbon {
    width: 3.75rem*0.6;
    padding: 0.4rem 0;
    position: absolute;
    top: -0.375rem*0.6;
    left: 1.5625rem*0.6;
    text-align: center;
    border-top-left-radius: 0.1875rem*0.6;
    // background: #74C4AE;
    background: #74C4AE;

    div {
        font-size: 0.65rem;
        font-weight: 800;
        margin: 0 0.1rem;
        background: #74C4AE;

    }
}

.ribbon:before {
    height: 0;
    width: 0;
    right: -0.3438rem*0.6;
    top: 0.0063rem*0.6;
    border-bottom: 0.375rem*0.6 solid #65ab98;
    border-right: 0.375rem*0.6 solid transparent;
}

.ribbon:before,
.ribbon:after {
    content: "";
    position: absolute;
}

.ribbon:after {
    height: 0;
    width: 0;
    bottom: -1.8438rem*0.6;
    left: 0;
    border-left: 1.875rem*0.6 solid #74C4AE;
    border-right: 1.875rem*0.6 solid #74C4AE;
    border-bottom: 1.875rem*0.6 solid transparent;
}


.live-webinar-countdown {
    background-color: #F7EBEB !important;
    box-shadow: 0 0.188rem 0.5rem #0000001A;
    padding: 0.563rem 1rem 0.7rem 1rem;
    border-radius: 0.625rem;
    color: var(--primary-red);
    @include flex(center, space-between);
    width: 100%;
    height: fit-content;
    margin: 1rem 0 0 0;
}

.live-webinar-countdown__offer-available {

    div:nth-of-type(2) {
        font-size: 1rem;
        font-weight: 800;
    }

    div:nth-of-type(1) {
        font-size: 0.938rem;
        margin-top: -0.2rem;
    }
}

.live-webinar-countdown__countdown-box {
    @include flex(center);
}

.live-webinar-countdown__countdown-box__countdown {
    @include flex(center, center);
    flex-direction: column;
    width: 2.3125rem;

    div:nth-of-type(1) {
        font-size: 0.813rem;
    }

    div:nth-of-type(2) {
        font-size: 1.063rem;
        font-weight: 800;
        border-radius: 0.25rem;
        background-color: white;
        padding: 0.313rem 0.5rem;
        margin-top: 0.1rem;
        @include flex(center, center);
        width: 100%;
    }
}

.live-webinar-countdown__countdown-box__separator {
    font-size: 1.063rem;
    font-weight: 800;
    color: var(--dark-black);
    margin: 0.8rem 0.2rem 0 0.2rem;
}

.monthly-subscription__course-card__title {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--dark-black);

    &>div:nth-of-type(1) {
        span:nth-of-type(2) {
            color: var(--primary-red);
        }

    }

    &>div:nth-of-type(2) {
        margin-top: 0.3rem;
        font-size: 0.75rem;
        font-weight: 400;



        span:nth-of-type(1) {
            line-height: 1.1rem !important;
            font-weight: 700;
            font-size: 0.82rem;

            span:nth-of-type(1) {
                color: var(--primary-red);
                font-weight: 700;
                cursor: pointer;
                display: inline-block;
                margin: -1.5rem 0.2rem 0.6rem 0;

                a {
                    color: var(--primary-red) !important;
                }
            }
        }
    }
}

.monthly_subscription__live-details-list {
    @include flex(center, flex-start);

    div {
        margin-bottom: 0.25rem;

        svg {
            width: 0.8rem;
            height: 0.8rem;
            margin-left: 0.3rem;
        }
    }
}

.monthly-subscription__course-card__course-title {
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--dark-black);
    margin: 0 0 1rem 0;
}

.monthly-subscription__course-card__price-box {
    color: var(--dark-black);
    // margin-top: 0.5rem;
}

.monthly-subscription__course-card__price-box__price {
    font-size: 1.5rem;
    font-weight: 800;
}

.monthly-subscription__course-card__price-box__currency {
    font-size: 1.25rem;
    font-weight: 700;
}

.monthly-subscription__course-card__old-price-box--line-through {
    @include flex(center);
    display: inline-flex;
    text-decoration: line-through var(--primary-red);
}

.monthly-subscription__course-card__old-price-box {
    color: var(--grey);
    margin-top: -0.4rem;
}

.monthly-subscription__course-card__old-price-box__price {
    font-size: 1rem;
    font-weight: 800;
}

.monthly-subscription__course-card__old-price-box__currency {
    font-size: 1rem;
}

.monthly-subscription__course-card__old-price-box__discount {
    font-size: 0.813rem;
}

.monthly-subscription__course-card__actions-btns {
    margin-top: 0.7rem;
    @include flex(center, flex-start);
    padding-left: 0.2rem;
}

.monthly-subscription__course-card__actions-btns__add-to-cart-btn {
    @include flex(center, center);
    @include contained-button;
    border-radius: 0.75rem;
    width: 100%;
    height: 3.125rem;
    background-color: white !important;
    border: 0.063rem solid var(--dark-black) !important;
    color: var(--dark-black) !important;

    &:hover,
    &:active {
        background-color: var(--primary-red) !important;
        border: 0.063rem solid var(--primary-red) !important;
        color: white !important;

        svg {
            * {
                fill: white;
            }
        }
    }

    svg {
        width: 1.5rem !important;
        height: 1.5rem !important;

        * {
            fill: var(--dark-black);
        }
    }

    span {
        font-size: 1rem;
        margin-right: -0.3rem;
        margin: 0 0.5rem 0 0;
    }
}

.monthly-subscription__course-card__actions-btns__fav-btn,
.monthly-subscription__course-card__actions-btns__share-btn {
    display: none !important;
    @include icon-button;
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 0.6rem;
    background-color: white !important;
    border: 0.063rem solid var(--dark-black) !important;
    color: var(--dark-black) !important;

    &:hover,
    &:active {
        background-color: var(--primary-red) !important;
        border: 0.063rem solid var(--primary-red) !important;
        color: white !important;

        svg {
            * {
                fill: white;
            }
        }
    }
}

.monthly-subscription__course-card__actions-btns__share-btn {

    &:hover,
    &:active {
        svg {
            * {
                fill: white;
            }
        }
    }
}


.monthly-subscription__course-card__guarantee-box {
    @include flex(center);
    margin-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-bottom: 0.05rem solid rgba(34, 34, 34, 0.1);
}

.monthly-subscription__course-card__guarantee-box__text-box {
    margin-right: 0.8rem;
}

.monthly-subscription__course-card__guarantee-box__text-box__major,
.monthly-subscription__course-card__guarantee-box__text-box__minor {
    font-size: 0.813rem;
    color: var(--dark-black);
}

.monthly-subscription__course-card__guarantee-box__text-box__major {
    font-weight: 700;
}

.monthly-subscription__course-card__guarantee-box__text-box__minor {
    font-weight: 400;
    color: var(--grey);
}

.monthly-subscription__subscribe-btn-box {
    margin-top: 1.188rem;
}

.monthly-subscription__subscription-timer {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0.3rem;

    span {
        color: red;
    }
}


.monthly-subscription__subscribe-btn-box__btn {
    @include contained-button;
    width: 100%;
    height: 3.125rem;
    font-size: 1rem;
    font-weight: 700;

    // span:nth-of-type(1) {
    //     margin: 0 0.1rem;
    // }

    // span:nth-of-type(2) {
    //     font-size: 0.75rem;
    //     font-weight: 400;
    //     margin: 0 0.1rem;
    // }

    // div {
    //     display: inline-flex;
    //     align-items: center;
    //     flex-direction: row-reverse;
    // }
    div:nth-of-type(2) {
        font-size: 0.72rem;
        font-weight: 400;
        margin-top: -0.2rem;
    }
}

.monthly-subscription__subscribe-btn-box__btn__monthly-subscribe {
    display: inline-block;
    margin: 0 0 0 0.4rem !important;
}

.monthly-subscription__subscribe-btn-box__btn--video-player {
    @include contained-button;
    width: 50%;
    height: 3.125rem;
    font-size: 1rem;
    font-weight: 700;

    span:nth-of-type(1) {
        margin: 0 0.1rem;
    }
}

.monthly-subscription__watch-this-course,
.monthly-subscription__or-box {
    font-size: 0.938rem;
    color: var(--grey);
    text-align: center;
}

.monthly-subscription__watch-this-course {
    margin-top: 0.625rem;
}

.monthly-subscription__or-box {
    margin-top: 0.75rem;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        border-top: 0.05rem solid rgba(119, 119, 119, 0.5);
        width: 38%;
        transform: translateY(-50%);
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        border-top: 0.05rem solid rgba(119, 119, 119, 0.5);
        width: 38%;
        transform: translateY(-50%);
    }

}

.monthly-subscription__course-card__details-list {
    margin-top: 0.8rem;
    padding-bottom: 0.8rem;
    // border-bottom: 0.05rem solid rgba(34, 34, 34, 0.1);
    flex-direction: column;

}

.monthly-subscription__course-card__details-list__item {
    @include flex(center);
    margin-bottom: 0.3rem;

    span {
        font-size: 0.938rem;
        color: var(--dark-black);
        margin-right: 1rem;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.monthly-subscription__course-card__promo-code {
    text-align: center;
    font-size: 0.938rem;
    padding: 0.9rem 0 1.5rem 0;
    display: none !important;

    span:nth-of-type(1) {
        color: var(--grey);
    }

    span:nth-of-type(2) {
        font-weight: 800;
        color: var(--primary-red);
    }
}

.monthly-subscription__sticky-top-course-card {
    @include flex(center, space-between);
    padding: 0.3rem 8.3rem;
    box-shadow: 0 0.3125rem 1.3125rem #00000014;
    z-index: 4;
    width: 100%;
    position: fixed;
    // top: 12rem;
    background-color: white;
    margin-right: -8.5rem;
}

.monthly-subscription__sticky-top-course-card__checkout-box {

    @include flex(center);

    .monthly-subscription__course-card__actions-btns {
        margin: 0 1.5625rem 0 0;
    }

}

.monthly-subscription__sticky-top-course-card__course-details-box {
    @include flex(center);
}

.monthly-subscription__sticky-top-course-card__course-img {
    img {
        width: 5rem;
        height: 3.125rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 1.25rem #0000001A;

    }
}

.monthly-subscription__sticky-top-course-card__course-details {
    margin: 0 1rem 0 0;

    div:nth-of-type(1) {
        font-size: 1.25rem;
        font-weight: 800;
        color: var(--dark-black);
    }

    div:nth-of-type(2) {
        font-size: 0.875rem;
        font-weight: 700;
        color: var(--grey);
    }
}

.monthly-subscription__subscription-value {
    font-size: 0.75rem;
    text-align: center;
    // font-weight: 700;
    color: var(--grey);
    margin-top: 0.3rem;

    .amount-strike {
        text-decoration: line-through rgba(175, 21, 31, 0.5);
    }

    span {
        margin: 0 0.1rem 0 0;
    }
}

.course-details__course-card__guarantee-box {
    @include flex(center);
    margin-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-bottom: 0.05rem solid rgba(34, 34, 34, 0.1);
}

.course-details__course-card__guarantee-box__text-box {
    margin-right: 0.8rem;
}

.course-details__course-card__guarantee-box__icon {
    svg {

        width: 1.1rem;
        height: 1.3rem;
    }
}

.course-details__course-card__guarantee-box__text-box__major {
    font-size: 0.813rem;
    color: var(--dark-black);
}

.course-details__course-card__guarantee-box__text-box__major {
    font-weight: 700;
}


@media (max-width: 575px) {

    .live-webinar-countdown {
        background-color: rgba(175, 21, 31, 0.08);
        box-shadow: 0 0.23rem 0.62rem #0000001A;
        padding: 1.5rem;
        border-radius: 1rem;
        margin-top: 3.5rem;
        margin: 3rem 0 0 0;
        @include flex(center, space-around);
    }

    .live-webinar-countdown__offer-available {
        margin-left: 2.4rem;

        div:nth-of-type(2) {
            font-size: 2.5rem;
        }

        div:nth-of-type(1) {
            font-size: 2.344rem;
            margin-top: -0.248rem;
        }
    }

    .live-webinar-countdown__countdown-box {
        @include flex(center);
    }

    .live-webinar-countdown__countdown-box__countdown {
        @include flex(center, center);
        flex-direction: column;
        width: 5rem;


        div:nth-of-type(1) {
            font-size: 2.031rem;
        }

        div:nth-of-type(2) {
            font-size: 2.656rem;
            border-radius: 0.31rem;
            padding: 0.626rem 1rem;
            margin-top: 0.2rem;
        }
    }

    .live-webinar-countdown__countdown-box__separator {
        font-size: 2.656rem;
        margin: 2.6rem 1rem 0 1rem;
    }

    .monthly-subscription__course-card {
        margin: 0 -3rem 0 0;
        padding: 1.25rem*2.5 1.625rem*2.5 0 1.625rem*2.5;
        // width: 100%;
        width: calc(100% + 6rem);
        // height: 34.063rem*2.5;
        box-shadow: 0 0 1.25rem*2.5 #0000001A;
        border-radius: 0;
        position: static;
        // top: 5.5rem*2.5;
    }

    .monthly-subscription__course-card__title {
        font-size: 1.25rem*2.5;

        &>div:nth-of-type(1) {
            margin: 0 0 1.5rem 0;
        }

        &>div:nth-of-type(2) {
            margin-top: 1.5rem;

            div {

                svg {
                    width: 0.8rem*2.5;
                    height: 0.8rem*2.5;
                    margin-left: 1.5rem;
                }
            }

            span:nth-of-type(1) {
                line-height: 2.8rem !important;
                font-size: 0.82rem*2.5;
                margin-bottom: 1.5rem;
                display: inline-block;

            }

            font-size: 0.75rem*2.7;

            span:nth-of-type(2) {
                margin: 0 0.2rem*2.5 0 0;
            }
        }
    }

    .monthly-subscription__course-card__course-title {
        font-size: 1.1rem*2.5;
        margin: 0 0 1rem*2.5 0;
    }

    .monthly-subscription__course-card__price-box {
        color: var(--dark-black);
        // margin-top: 0.5rem*2.5;
    }

    .monthly-subscription__course-card__price-box__price {
        font-size: 1.5rem*2.5;
    }

    .monthly-subscription__course-card__price-box__currency {
        font-size: 1.25rem*2.5;
    }

    .monthly-subscription__course-card__old-price-box--line-through {
        @include flex(center);
        display: inline-flex;
        text-decoration: line-through var(--primary-red);
    }

    .monthly-subscription__course-card__old-price-box {
        margin-top: -0.4rem*2.5;
    }

    .monthly-subscription__course-card__old-price-box__price {
        font-size: 1rem*2.5;
    }

    .monthly-subscription__course-card__old-price-box__currency {
        font-size: 1rem*2.5;
    }

    .monthly-subscription__course-card__old-price-box__discount {
        font-size: 0.813rem*2.5;
    }

    .monthly-subscription__course-card__actions-btns {
        margin-top: 0.7rem*2.5;
        @include flex(center, flex-start);
        padding-left: 0.2rem*2.5;
    }

    .monthly-subscription__course-card__actions-btns__add-to-cart-btn {
        @include flex(center, center);
        @include contained-button;
        border-radius: 0.75rem*2.5;
        width: 100%;
        height: 3.125rem*2.5;
        background-color: white !important;
        border: 0.063rem*2.5 solid var(--dark-black) !important;

        &:hover,
        &:active {
            border: 0.063rem*2.5 solid var(--dark-black) !important;
            background-color: var(--primary-red) !important;
            color: white !important;


        }

        svg {
            width: 1.3125rem*2.5 !important;
            height: 1.1875rem*2.5 !important;

        }


        span {
            font-size: 1rem*2.5;
            margin-right: 0.5rem*2.5;
        }
    }

    .monthly-subscription__course-card__actions-btns__fav-btn,
    .monthly-subscription__course-card__actions-btns__share-btn {
        @include icon-button;
        width: 3.125rem*2.5;
        height: 3.125rem*2.5;
        margin-right: 0.6rem*2.5;
        border-radius: 0.75rem*2.5;

        border: 0.063rem*2.5 solid var(--dark-black) !important;

        &:hover,
        &:active {
            background-color: white !important;
            border: 0.063rem*2.5 solid var(--dark-black) !important;
        }
    }

    .monthly-subscription__course-card__actions-btns__fav-btn {
        svg {

            width: 1.4375rem*2.5;
            height: 1.4375rem*2.5;
        }
    }

    .monthly-subscription__course-card__actions-btns__share-btn {
        svg {

            width: 1.1875rem*2.5;
            height: 0.9375rem*2.5;
        }

    }


    .monthly-subscription__course-card__guarantee-box {
        @include flex(center);
        margin-top: 1.3rem*2.5;
        padding-bottom: 1.3rem*2.5;
        border-bottom: 0.05rem*2.5 solid rgba(34, 34, 34, 0.1);
    }

    .monthly-subscription__course-card__guarantee-box__text-box {
        margin-right: 0.8rem*2.5;
    }

    .monthly-subscription__course-card__guarantee-box__text-box__major,
    .monthly-subscription__course-card__guarantee-box__text-box__minor {
        font-size: 0.813rem*2.5;
    }

    .monthly-subscription__course-card__guarantee-box__text-box__major {}

    .monthly-subscription__course-card__guarantee-box__text-box__minor {}

    .monthly-subscription__subscribe-btn-box {
        margin-top: 1.188rem*2.5;
    }

    .monthly-subscription__subscribe-btn-box__btn {
        @include contained-button;
        width: 100%;
        height: 3.125rem*2.5;
        font-size: 1rem*2.5;
        border-radius: 0.625rem*2.5;

        div:nth-of-type(2) {
            font-size: 0.72rem*2.5;
            margin-top: -0.2rem*2.5;
        }
    }

    .monthly-subscription__subscribe-btn-box__btn__monthly-subscribe {
        display: inline-block;
        margin: 0 0 0 0.4rem*2.5 !important;
    }

    .monthly-subscription__watch-this-course,
    .monthly-subscription__or-box {
        font-size: 0.938rem*2.5;
    }

    .monthly-subscription__watch-this-course {
        margin-top: 0.625rem*2.5;
    }

    .monthly-subscription__or-box {
        margin-top: 0.75rem*2.5;
        position: relative;

        &:before {
            top: 50%;
            left: 0;
            border-top: 0.05rem*2.5 solid rgba(119, 119, 119, 0.5);
            width: 38%;
        }

        &:after {

            top: 50%;
            right: 0;
            border-top: 0.05rem*2.5 solid rgba(119, 119, 119, 0.5);
            width: 38%;
        }

    }

    .monthly-subscription__course-card__details-list {
        margin-top: 1rem*2.5;
        padding-bottom: 0.8rem*2.5;
        // border-bottom: 0.05rem*2.5 solid rgba(34, 34, 34, 0.1);

    }

    .monthly-subscription__course-card__details-list__item {
        margin-bottom: 0.4rem*2.5;

        span {
            font-size: 0.938rem*2.5;
            margin-right: 1rem*2.5;
        }

        svg {
            width: 1.25rem*2.5;
            height: 1.25rem*2.5;
        }
    }

    .monthly-subscription__course-card__promo-code {
        font-size: 0.938rem*2.5;
        padding: 0.9rem*2.5 0 1.5rem*2.5 0;

    }

    .monthly-subscription__subscription-value {
        font-size: 0.75rem*2.4;
        margin-top: 0.3rem*2.5;

        span:nth-of-type(1) {
            margin-right: 0.5rem;
        }

        span:nth-of-type(2) {
            margin-right: 0.5rem;

        }
    }

    .course-price {
        .orignal-price {
            font-size: 1.875rem;
        }

        .sale-price {
            font-size: 1.9rem;
        }
    }

    .course-details__course-card__guarantee-box {
        @include flex(center);
        margin-top: 1.3rem*2.5;
        padding-bottom: 1.3rem*2.5;
        border-bottom: 0.05rem*2.5 solid rgba(34, 34, 34, 0.1);

        svg {
            width: 1.375rem*2.5;
            height: 1.5rem*2.5;
        }
    }

    .course-details__course-card__guarantee-box__text-box {
        margin-right: 0.8rem*2.5;
    }

    .course-details__course-card__guarantee-box__text-box__major {
        font-size: 0.813rem*2.5;
    }

    .monthly-subscription__subscription-timer {
        font-size: 0.75rem*2.5;
        margin-bottom: 0.3rem*2.5;
    }

    .monthly-subscription__course-card-helper {
        position: relative;
    }



    .ribbon {
        width: 3.75rem*1.2;
        padding: 2rem 0;
        position: absolute;
        top: -3.6rem;
        left: -2rem;
        text-align: center;
        border-top-left-radius: 0.1875rem*1.2;
        // background: #74C4AE;
        background: #74C4AE;

        div {
            font-size: 0.65rem*1.8;
            margin: 0 0.1rem*2;
            background: #74C4AE;

        }
    }

    .ribbon:before {
        height: 0;
        width: 0;
        right: -0.3438rem*1.2;
        top: 0.0063rem*1.2;
        border-bottom: 0.375rem*1.2 solid #65ab98;
        border-right: 0.375rem*1.2 solid transparent;
    }

    .ribbon:before,
    .ribbon:after {
        content: "";
        position: absolute;
    }

    .ribbon:after {
        height: 0;
        width: 0;
        bottom: -1.8438rem*1.2;
        left: 0;
        border-left: 1.875rem*1.2 solid #74C4AE;
        border-right: 1.875rem*1.2 solid #74C4AE;
        border-bottom: 1.875rem*1.2 solid transparent;
    }
}