.course-price {
  display: flex;
  align-items: center;
  justify-content: unset;
  color: var(--grey);
  font-size: 0.75rem;
  text-align: center;
  flex-direction: column;
}
.course-price .orignal-price {
  -webkit-text-decoration: line-through rgba(175, 21, 31, 0.5);
          text-decoration: line-through rgba(175, 21, 31, 0.5);
}
.course-price .sale-price {
  font-size: 0.9rem;
  color: black;
}
.course-price span {
  margin: 0 0.1rem 0 0;
}

.monthly-subscription__course-card {
  margin: 5.5rem 0.5rem 0 0;
  padding: 1.25rem 1.625rem 0 1.625rem;
  width: 22rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1019607843);
  border-radius: 1.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 5.5rem;
}

.monthly-subscription__course-card-helper {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  position: unset;
}

.ribbon {
  width: 2.25rem;
  padding: 0.4rem 0;
  position: absolute;
  top: -0.225rem;
  left: 0.9375rem;
  text-align: center;
  border-top-left-radius: 0.1125rem;
  background: #74C4AE;
}
.ribbon div {
  font-size: 0.65rem;
  font-weight: 800;
  margin: 0 0.1rem;
  background: #74C4AE;
}

.ribbon:before {
  height: 0;
  width: 0;
  right: -0.20628rem;
  top: 0.00378rem;
  border-bottom: 0.225rem solid #65ab98;
  border-right: 0.225rem solid transparent;
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
}

.ribbon:after {
  height: 0;
  width: 0;
  bottom: -1.10628rem;
  left: 0;
  border-left: 1.125rem solid #74C4AE;
  border-right: 1.125rem solid #74C4AE;
  border-bottom: 1.125rem solid transparent;
}

.live-webinar-countdown {
  background-color: #F7EBEB !important;
  box-shadow: 0 0.188rem 0.5rem rgba(0, 0, 0, 0.1019607843);
  padding: 0.563rem 1rem 0.7rem 1rem;
  border-radius: 0.625rem;
  color: var(--primary-red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1rem 0 0 0;
}

.live-webinar-countdown__offer-available div:nth-of-type(2) {
  font-size: 1rem;
  font-weight: 800;
}
.live-webinar-countdown__offer-available div:nth-of-type(1) {
  font-size: 0.938rem;
  margin-top: -0.2rem;
}

.live-webinar-countdown__countdown-box {
  display: flex;
  align-items: center;
  justify-content: unset;
}

.live-webinar-countdown__countdown-box__countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 2.3125rem;
}
.live-webinar-countdown__countdown-box__countdown div:nth-of-type(1) {
  font-size: 0.813rem;
}
.live-webinar-countdown__countdown-box__countdown div:nth-of-type(2) {
  font-size: 1.063rem;
  font-weight: 800;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.313rem 0.5rem;
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.live-webinar-countdown__countdown-box__separator {
  font-size: 1.063rem;
  font-weight: 800;
  color: var(--dark-black);
  margin: 0.8rem 0.2rem 0 0.2rem;
}

.monthly-subscription__course-card__title {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--dark-black);
}
.monthly-subscription__course-card__title > div:nth-of-type(1) span:nth-of-type(2) {
  color: var(--primary-red);
}
.monthly-subscription__course-card__title > div:nth-of-type(2) {
  margin-top: 0.3rem;
  font-size: 0.75rem;
  font-weight: 400;
}
.monthly-subscription__course-card__title > div:nth-of-type(2) span:nth-of-type(1) {
  line-height: 1.1rem !important;
  font-weight: 700;
  font-size: 0.82rem;
}
.monthly-subscription__course-card__title > div:nth-of-type(2) span:nth-of-type(1) span:nth-of-type(1) {
  color: var(--primary-red);
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  margin: -1.5rem 0.2rem 0.6rem 0;
}
.monthly-subscription__course-card__title > div:nth-of-type(2) span:nth-of-type(1) span:nth-of-type(1) a {
  color: var(--primary-red) !important;
}

.monthly_subscription__live-details-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.monthly_subscription__live-details-list div {
  margin-bottom: 0.25rem;
}
.monthly_subscription__live-details-list div svg {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.3rem;
}

.monthly-subscription__course-card__course-title {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--dark-black);
  margin: 0 0 1rem 0;
}

.monthly-subscription__course-card__price-box {
  color: var(--dark-black);
}

.monthly-subscription__course-card__price-box__price {
  font-size: 1.5rem;
  font-weight: 800;
}

.monthly-subscription__course-card__price-box__currency {
  font-size: 1.25rem;
  font-weight: 700;
}

.monthly-subscription__course-card__old-price-box--line-through {
  display: flex;
  align-items: center;
  justify-content: unset;
  display: inline-flex;
  -webkit-text-decoration: line-through var(--primary-red);
          text-decoration: line-through var(--primary-red);
}

.monthly-subscription__course-card__old-price-box {
  color: var(--grey);
  margin-top: -0.4rem;
}

.monthly-subscription__course-card__old-price-box__price {
  font-size: 1rem;
  font-weight: 800;
}

.monthly-subscription__course-card__old-price-box__currency {
  font-size: 1rem;
}

.monthly-subscription__course-card__old-price-box__discount {
  font-size: 0.813rem;
}

.monthly-subscription__course-card__actions-btns {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.2rem;
}

.monthly-subscription__course-card__actions-btns__add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: "Almarai", sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  border-radius: 0.75rem;
  width: 100%;
  height: 3.125rem;
  background-color: white !important;
  border: 0.063rem solid var(--dark-black) !important;
  color: var(--dark-black) !important;
}
.monthly-subscription__course-card__actions-btns__add-to-cart-btn:hover {
  box-shadow: none;
}
.monthly-subscription__course-card__actions-btns__add-to-cart-btn:active {
  box-shadow: none;
}
.monthly-subscription__course-card__actions-btns__add-to-cart-btn:hover, .monthly-subscription__course-card__actions-btns__add-to-cart-btn:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}
.monthly-subscription__course-card__actions-btns__add-to-cart-btn:hover, .monthly-subscription__course-card__actions-btns__add-to-cart-btn:active {
  background-color: var(--primary-red) !important;
  border: 0.063rem solid var(--primary-red) !important;
  color: white !important;
}
.monthly-subscription__course-card__actions-btns__add-to-cart-btn:hover svg *, .monthly-subscription__course-card__actions-btns__add-to-cart-btn:active svg * {
  fill: white;
}
.monthly-subscription__course-card__actions-btns__add-to-cart-btn svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.monthly-subscription__course-card__actions-btns__add-to-cart-btn svg * {
  fill: var(--dark-black);
}
.monthly-subscription__course-card__actions-btns__add-to-cart-btn span {
  font-size: 1rem;
  margin-right: -0.3rem;
  margin: 0 0.5rem 0 0;
}

.monthly-subscription__course-card__actions-btns__fav-btn,
.monthly-subscription__course-card__actions-btns__share-btn {
  display: none !important;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.75rem;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.6rem;
  background-color: white !important;
  border: 0.063rem solid var(--dark-black) !important;
  color: var(--dark-black) !important;
}
.monthly-subscription__course-card__actions-btns__fav-btn:hover, .monthly-subscription__course-card__actions-btns__fav-btn:active, .monthly-subscription__course-card__actions-btns__fav-btn:focus,
.monthly-subscription__course-card__actions-btns__share-btn:hover,
.monthly-subscription__course-card__actions-btns__share-btn:active,
.monthly-subscription__course-card__actions-btns__share-btn:focus {
  background-color: rgba(0, 0, 0, 0.07);
}
.monthly-subscription__course-card__actions-btns__fav-btn:hover, .monthly-subscription__course-card__actions-btns__fav-btn:active,
.monthly-subscription__course-card__actions-btns__share-btn:hover,
.monthly-subscription__course-card__actions-btns__share-btn:active {
  background-color: var(--primary-red) !important;
  border: 0.063rem solid var(--primary-red) !important;
  color: white !important;
}
.monthly-subscription__course-card__actions-btns__fav-btn:hover svg *, .monthly-subscription__course-card__actions-btns__fav-btn:active svg *,
.monthly-subscription__course-card__actions-btns__share-btn:hover svg *,
.monthly-subscription__course-card__actions-btns__share-btn:active svg * {
  fill: white;
}

.monthly-subscription__course-card__actions-btns__share-btn:hover svg *, .monthly-subscription__course-card__actions-btns__share-btn:active svg * {
  fill: white;
}

.monthly-subscription__course-card__guarantee-box {
  display: flex;
  align-items: center;
  justify-content: unset;
  margin-top: 1.3rem;
  padding-bottom: 1.3rem;
  border-bottom: 0.05rem solid rgba(34, 34, 34, 0.1);
}

.monthly-subscription__course-card__guarantee-box__text-box {
  margin-right: 0.8rem;
}

.monthly-subscription__course-card__guarantee-box__text-box__major,
.monthly-subscription__course-card__guarantee-box__text-box__minor {
  font-size: 0.813rem;
  color: var(--dark-black);
}

.monthly-subscription__course-card__guarantee-box__text-box__major {
  font-weight: 700;
}

.monthly-subscription__course-card__guarantee-box__text-box__minor {
  font-weight: 400;
  color: var(--grey);
}

.monthly-subscription__subscribe-btn-box {
  margin-top: 1.188rem;
}

.monthly-subscription__subscription-timer {
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 0.3rem;
}
.monthly-subscription__subscription-timer span {
  color: red;
}

.monthly-subscription__subscribe-btn-box__btn {
  box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: "Almarai", sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  width: 100%;
  height: 3.125rem;
  font-size: 1rem;
  font-weight: 700;
}
.monthly-subscription__subscribe-btn-box__btn:hover {
  box-shadow: none;
}
.monthly-subscription__subscribe-btn-box__btn:active {
  box-shadow: none;
}
.monthly-subscription__subscribe-btn-box__btn:hover, .monthly-subscription__subscribe-btn-box__btn:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}
.monthly-subscription__subscribe-btn-box__btn div:nth-of-type(2) {
  font-size: 0.72rem;
  font-weight: 400;
  margin-top: -0.2rem;
}

.monthly-subscription__subscribe-btn-box__btn__monthly-subscribe {
  display: inline-block;
  margin: 0 0 0 0.4rem !important;
}

.monthly-subscription__subscribe-btn-box__btn--video-player {
  box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: "Almarai", sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  width: 50%;
  height: 3.125rem;
  font-size: 1rem;
  font-weight: 700;
}
.monthly-subscription__subscribe-btn-box__btn--video-player:hover {
  box-shadow: none;
}
.monthly-subscription__subscribe-btn-box__btn--video-player:active {
  box-shadow: none;
}
.monthly-subscription__subscribe-btn-box__btn--video-player:hover, .monthly-subscription__subscribe-btn-box__btn--video-player:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}
.monthly-subscription__subscribe-btn-box__btn--video-player span:nth-of-type(1) {
  margin: 0 0.1rem;
}

.monthly-subscription__watch-this-course,
.monthly-subscription__or-box {
  font-size: 0.938rem;
  color: var(--grey);
  text-align: center;
}

.monthly-subscription__watch-this-course {
  margin-top: 0.625rem;
}

.monthly-subscription__or-box {
  margin-top: 0.75rem;
  position: relative;
}
.monthly-subscription__or-box:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 0.05rem solid rgba(119, 119, 119, 0.5);
  width: 38%;
  transform: translateY(-50%);
}
.monthly-subscription__or-box:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  border-top: 0.05rem solid rgba(119, 119, 119, 0.5);
  width: 38%;
  transform: translateY(-50%);
}

.monthly-subscription__course-card__details-list {
  margin-top: 0.8rem;
  padding-bottom: 0.8rem;
  flex-direction: column;
}

.monthly-subscription__course-card__details-list__item {
  display: flex;
  align-items: center;
  justify-content: unset;
  margin-bottom: 0.3rem;
}
.monthly-subscription__course-card__details-list__item span {
  font-size: 0.938rem;
  color: var(--dark-black);
  margin-right: 1rem;
}
.monthly-subscription__course-card__details-list__item svg {
  width: 1.25rem;
  height: 1.25rem;
}

.monthly-subscription__course-card__promo-code {
  text-align: center;
  font-size: 0.938rem;
  padding: 0.9rem 0 1.5rem 0;
  display: none !important;
}
.monthly-subscription__course-card__promo-code span:nth-of-type(1) {
  color: var(--grey);
}
.monthly-subscription__course-card__promo-code span:nth-of-type(2) {
  font-weight: 800;
  color: var(--primary-red);
}

.monthly-subscription__sticky-top-course-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 8.3rem;
  box-shadow: 0 0.3125rem 1.3125rem rgba(0, 0, 0, 0.0784313725);
  z-index: 4;
  width: 100%;
  position: fixed;
  background-color: white;
  margin-right: -8.5rem;
}

.monthly-subscription__sticky-top-course-card__checkout-box {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.monthly-subscription__sticky-top-course-card__checkout-box .monthly-subscription__course-card__actions-btns {
  margin: 0 1.5625rem 0 0;
}

.monthly-subscription__sticky-top-course-card__course-details-box {
  display: flex;
  align-items: center;
  justify-content: unset;
}

.monthly-subscription__sticky-top-course-card__course-img img {
  width: 5rem;
  height: 3.125rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1019607843);
}

.monthly-subscription__sticky-top-course-card__course-details {
  margin: 0 1rem 0 0;
}
.monthly-subscription__sticky-top-course-card__course-details div:nth-of-type(1) {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--dark-black);
}
.monthly-subscription__sticky-top-course-card__course-details div:nth-of-type(2) {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--grey);
}

.monthly-subscription__subscription-value {
  font-size: 0.75rem;
  text-align: center;
  color: var(--grey);
  margin-top: 0.3rem;
}
.monthly-subscription__subscription-value .amount-strike {
  -webkit-text-decoration: line-through rgba(175, 21, 31, 0.5);
          text-decoration: line-through rgba(175, 21, 31, 0.5);
}
.monthly-subscription__subscription-value span {
  margin: 0 0.1rem 0 0;
}

.course-details__course-card__guarantee-box {
  display: flex;
  align-items: center;
  justify-content: unset;
  margin-top: 1.3rem;
  padding-bottom: 1.3rem;
  border-bottom: 0.05rem solid rgba(34, 34, 34, 0.1);
}

.course-details__course-card__guarantee-box__text-box {
  margin-right: 0.8rem;
}

.course-details__course-card__guarantee-box__icon svg {
  width: 1.1rem;
  height: 1.3rem;
}

.course-details__course-card__guarantee-box__text-box__major {
  font-size: 0.813rem;
  color: var(--dark-black);
}

.course-details__course-card__guarantee-box__text-box__major {
  font-weight: 700;
}

@media (max-width: 575px) {
  .live-webinar-countdown {
    background-color: rgba(175, 21, 31, 0.08);
    box-shadow: 0 0.23rem 0.62rem rgba(0, 0, 0, 0.1019607843);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 3.5rem;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .live-webinar-countdown__offer-available {
    margin-left: 2.4rem;
  }
  .live-webinar-countdown__offer-available div:nth-of-type(2) {
    font-size: 2.5rem;
  }
  .live-webinar-countdown__offer-available div:nth-of-type(1) {
    font-size: 2.344rem;
    margin-top: -0.248rem;
  }
  .live-webinar-countdown__countdown-box {
    display: flex;
    align-items: center;
    justify-content: unset;
  }
  .live-webinar-countdown__countdown-box__countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 5rem;
  }
  .live-webinar-countdown__countdown-box__countdown div:nth-of-type(1) {
    font-size: 2.031rem;
  }
  .live-webinar-countdown__countdown-box__countdown div:nth-of-type(2) {
    font-size: 2.656rem;
    border-radius: 0.31rem;
    padding: 0.626rem 1rem;
    margin-top: 0.2rem;
  }
  .live-webinar-countdown__countdown-box__separator {
    font-size: 2.656rem;
    margin: 2.6rem 1rem 0 1rem;
  }
  .monthly-subscription__course-card {
    margin: 0 -3rem 0 0;
    padding: 3.125rem 4.0625rem 0 4.0625rem;
    width: calc(100% + 6rem);
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 0;
    position: static;
  }
  .monthly-subscription__course-card__title {
    font-size: 3.125rem;
  }
  .monthly-subscription__course-card__title > div:nth-of-type(1) {
    margin: 0 0 1.5rem 0;
  }
  .monthly-subscription__course-card__title > div:nth-of-type(2) {
    margin-top: 1.5rem;
    font-size: 2.025rem;
  }
  .monthly-subscription__course-card__title > div:nth-of-type(2) div svg {
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
  }
  .monthly-subscription__course-card__title > div:nth-of-type(2) span:nth-of-type(1) {
    line-height: 2.8rem !important;
    font-size: 2.05rem;
    margin-bottom: 1.5rem;
    display: inline-block;
  }
  .monthly-subscription__course-card__title > div:nth-of-type(2) span:nth-of-type(2) {
    margin: 0 0.5rem 0 0;
  }
  .monthly-subscription__course-card__course-title {
    font-size: 2.75rem;
    margin: 0 0 2.5rem 0;
  }
  .monthly-subscription__course-card__price-box {
    color: var(--dark-black);
  }
  .monthly-subscription__course-card__price-box__price {
    font-size: 3.75rem;
  }
  .monthly-subscription__course-card__price-box__currency {
    font-size: 3.125rem;
  }
  .monthly-subscription__course-card__old-price-box--line-through {
    display: flex;
    align-items: center;
    justify-content: unset;
    display: inline-flex;
    -webkit-text-decoration: line-through var(--primary-red);
            text-decoration: line-through var(--primary-red);
  }
  .monthly-subscription__course-card__old-price-box {
    margin-top: -1rem;
  }
  .monthly-subscription__course-card__old-price-box__price {
    font-size: 2.5rem;
  }
  .monthly-subscription__course-card__old-price-box__currency {
    font-size: 2.5rem;
  }
  .monthly-subscription__course-card__old-price-box__discount {
    font-size: 2.0325rem;
  }
  .monthly-subscription__course-card__actions-btns {
    margin-top: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.5rem;
  }
  .monthly-subscription__course-card__actions-btns__add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: "Almarai", sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    border-radius: 1.875rem;
    width: 100%;
    height: 7.8125rem;
    background-color: white !important;
    border: 0.1575rem solid var(--dark-black) !important;
  }
  .monthly-subscription__course-card__actions-btns__add-to-cart-btn:hover {
    box-shadow: none;
  }
  .monthly-subscription__course-card__actions-btns__add-to-cart-btn:active {
    box-shadow: none;
  }
  .monthly-subscription__course-card__actions-btns__add-to-cart-btn:hover, .monthly-subscription__course-card__actions-btns__add-to-cart-btn:active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .monthly-subscription__course-card__actions-btns__add-to-cart-btn:hover, .monthly-subscription__course-card__actions-btns__add-to-cart-btn:active {
    border: 0.1575rem solid var(--dark-black) !important;
    background-color: var(--primary-red) !important;
    color: white !important;
  }
  .monthly-subscription__course-card__actions-btns__add-to-cart-btn svg {
    width: 3.28125rem !important;
    height: 2.96875rem !important;
  }
  .monthly-subscription__course-card__actions-btns__add-to-cart-btn span {
    font-size: 2.5rem;
    margin-right: 1.25rem;
  }
  .monthly-subscription__course-card__actions-btns__fav-btn,
.monthly-subscription__course-card__actions-btns__share-btn {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.75rem;
    background-color: rgba(0, 0, 0, 0.05);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 7.8125rem;
    height: 7.8125rem;
    margin-right: 1.5rem;
    border-radius: 1.875rem;
    border: 0.1575rem solid var(--dark-black) !important;
  }
  .monthly-subscription__course-card__actions-btns__fav-btn:hover, .monthly-subscription__course-card__actions-btns__fav-btn:active, .monthly-subscription__course-card__actions-btns__fav-btn:focus,
.monthly-subscription__course-card__actions-btns__share-btn:hover,
.monthly-subscription__course-card__actions-btns__share-btn:active,
.monthly-subscription__course-card__actions-btns__share-btn:focus {
    background-color: rgba(0, 0, 0, 0.07);
  }
  .monthly-subscription__course-card__actions-btns__fav-btn:hover, .monthly-subscription__course-card__actions-btns__fav-btn:active,
.monthly-subscription__course-card__actions-btns__share-btn:hover,
.monthly-subscription__course-card__actions-btns__share-btn:active {
    background-color: white !important;
    border: 0.1575rem solid var(--dark-black) !important;
  }
  .monthly-subscription__course-card__actions-btns__fav-btn svg {
    width: 3.59375rem;
    height: 3.59375rem;
  }
  .monthly-subscription__course-card__actions-btns__share-btn svg {
    width: 2.96875rem;
    height: 2.34375rem;
  }
  .monthly-subscription__course-card__guarantee-box {
    display: flex;
    align-items: center;
    justify-content: unset;
    margin-top: 3.25rem;
    padding-bottom: 3.25rem;
    border-bottom: 0.125rem solid rgba(34, 34, 34, 0.1);
  }
  .monthly-subscription__course-card__guarantee-box__text-box {
    margin-right: 2rem;
  }
  .monthly-subscription__course-card__guarantee-box__text-box__major,
.monthly-subscription__course-card__guarantee-box__text-box__minor {
    font-size: 2.0325rem;
  }
  .monthly-subscription__subscribe-btn-box {
    margin-top: 2.97rem;
  }
  .monthly-subscription__subscribe-btn-box__btn {
    box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: "Almarai", sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    width: 100%;
    height: 7.8125rem;
    font-size: 2.5rem;
    border-radius: 1.5625rem;
  }
  .monthly-subscription__subscribe-btn-box__btn:hover {
    box-shadow: none;
  }
  .monthly-subscription__subscribe-btn-box__btn:active {
    box-shadow: none;
  }
  .monthly-subscription__subscribe-btn-box__btn:hover, .monthly-subscription__subscribe-btn-box__btn:active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .monthly-subscription__subscribe-btn-box__btn div:nth-of-type(2) {
    font-size: 1.8rem;
    margin-top: -0.5rem;
  }
  .monthly-subscription__subscribe-btn-box__btn__monthly-subscribe {
    display: inline-block;
    margin: 0 0 0 1rem !important;
  }
  .monthly-subscription__watch-this-course,
.monthly-subscription__or-box {
    font-size: 2.345rem;
  }
  .monthly-subscription__watch-this-course {
    margin-top: 1.5625rem;
  }
  .monthly-subscription__or-box {
    margin-top: 1.875rem;
    position: relative;
  }
  .monthly-subscription__or-box:before {
    top: 50%;
    left: 0;
    border-top: 0.125rem solid rgba(119, 119, 119, 0.5);
    width: 38%;
  }
  .monthly-subscription__or-box:after {
    top: 50%;
    right: 0;
    border-top: 0.125rem solid rgba(119, 119, 119, 0.5);
    width: 38%;
  }
  .monthly-subscription__course-card__details-list {
    margin-top: 2.5rem;
    padding-bottom: 2rem;
  }
  .monthly-subscription__course-card__details-list__item {
    margin-bottom: 1rem;
  }
  .monthly-subscription__course-card__details-list__item span {
    font-size: 2.345rem;
    margin-right: 2.5rem;
  }
  .monthly-subscription__course-card__details-list__item svg {
    width: 3.125rem;
    height: 3.125rem;
  }
  .monthly-subscription__course-card__promo-code {
    font-size: 2.345rem;
    padding: 2.25rem 0 3.75rem 0;
  }
  .monthly-subscription__subscription-value {
    font-size: 1.8rem;
    margin-top: 0.75rem;
  }
  .monthly-subscription__subscription-value span:nth-of-type(1) {
    margin-right: 0.5rem;
  }
  .monthly-subscription__subscription-value span:nth-of-type(2) {
    margin-right: 0.5rem;
  }
  .course-price .orignal-price {
    font-size: 1.875rem;
  }
  .course-price .sale-price {
    font-size: 1.9rem;
  }
  .course-details__course-card__guarantee-box {
    display: flex;
    align-items: center;
    justify-content: unset;
    margin-top: 3.25rem;
    padding-bottom: 3.25rem;
    border-bottom: 0.125rem solid rgba(34, 34, 34, 0.1);
  }
  .course-details__course-card__guarantee-box svg {
    width: 3.4375rem;
    height: 3.75rem;
  }
  .course-details__course-card__guarantee-box__text-box {
    margin-right: 2rem;
  }
  .course-details__course-card__guarantee-box__text-box__major {
    font-size: 2.0325rem;
  }
  .monthly-subscription__subscription-timer {
    font-size: 1.875rem;
    margin-bottom: 0.75rem;
  }
  .monthly-subscription__course-card-helper {
    position: relative;
  }
  .ribbon {
    width: 4.5rem;
    padding: 2rem 0;
    position: absolute;
    top: -3.6rem;
    left: -2rem;
    text-align: center;
    border-top-left-radius: 0.225rem;
    background: #74C4AE;
  }
  .ribbon div {
    font-size: 1.17rem;
    margin: 0 0.2rem;
    background: #74C4AE;
  }
  .ribbon:before {
    height: 0;
    width: 0;
    right: -0.41256rem;
    top: 0.00756rem;
    border-bottom: 0.45rem solid #65ab98;
    border-right: 0.45rem solid transparent;
  }
  .ribbon:before,
.ribbon:after {
    content: "";
    position: absolute;
  }
  .ribbon:after {
    height: 0;
    width: 0;
    bottom: -2.21256rem;
    left: 0;
    border-left: 2.25rem solid #74C4AE;
    border-right: 2.25rem solid #74C4AE;
    border-bottom: 2.25rem solid transparent;
  }
  .monthly_subscription__live-details-list {
    display: none;
  }
}/*# sourceMappingURL=monthly-subscription-card.module.css.map */