@import "../../../styles/mixins";

.reset-password__reset-password-box { 
    padding: 11.5rem 13rem 0 0;
    width: fit-content;
}

.reset-password__reset-password-box__title {
    div:nth-of-type(1) {
        font-size: 1.875rem;
        color: $dark-black;
        font-weight: 800;
    }

    div:nth-of-type(2) {
        font-size: 1.0625rem;
        color: $grey;
    }
}

.reset-password__reset-password-box__password-field-container,
.reset-password__reset-password-box__re-enter-password-field-container {
    position: relative;
    margin: 1.75rem 0 0 0;
    box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
    border-radius: 0.75rem;
    padding: 0.8125rem 1.1875rem 0.8125rem 0.5rem;
    height: 3.125rem;
    @include flex(center);
    svg {
        width: 1.25rem;
        height: 1.375rem;
    }
}

.reset-password__reset-password-box__re-enter-password-field-container{
    margin: 1.1875rem 0 0 0;
}


.reset-password__reset-password-box__show-password-icon-wrapper {
    svg {
        width: 1.5rem;
        height: 1rem;
        cursor: pointer;
        margin-left: 1rem;
    }
}

.reset-password__reset-password-box__password-field {
    font-size: 1.063rem;
    width: 25rem;
    height: 100%;
    border: none !important;
    outline: none !important;

    &:active,
    &:focus {
        outline: 0 !important;
        border: none !important;
        box-shadow: none !important;
    }
}

.reset-password__reset-password-box__send-btn {
    @include contained-button;
    width: 100%;
    height: 3.4rem;
    border-radius: 0.75rem;
    font-size: 1.063rem;
    margin: 1.875rem 0 5rem 0;
}

.reset-password__img {
    img {
        width: 26rem;
        height: 17.9375rem;
        margin: 12rem 11.5rem 0 0;
        user-select: none;
    }
}


@media (max-width:575px){

    .reset-password{
        padding: 0 3rem;
    }
    .reset-password__reset-password-box { 
        padding: 6.313rem 0 0 0;
        width: 100%;
    }
    
    .reset-password__reset-password-box__title {
        text-align: center;
        div:nth-of-type(1) {
            font-size: 1.875rem*2.5;
        }
    
        div:nth-of-type(2) {
            font-size: 1.0625rem*2.5;
        }
    }
    
    .reset-password__reset-password-box__password-field-container,
    .reset-password__reset-password-box__re-enter-password-field-container {
        margin: 1.75rem*2.5 0 0 0;
        box-shadow: 0rem*2.5 0.1875rem*2.5 1.25rem*2.5 #0000001A;
        border-radius: 0.75rem*2.5;
        padding: 0.8125rem*2.5 1.1875rem*2.5 0.8125rem*2.5 0.5rem*2.5;
        height: 3.125rem*2.5;
        @include flex(center);
        svg {
            width: 1.25rem*2.5;
            height: 1.375rem*2.5;
        }
    }
    
    .reset-password__reset-password-box__re-enter-password-field-container{
        margin: 1.1875rem*2.5 0 0 0;
    }
    
    
    .reset-password__reset-password-box__show-password-icon-wrapper {
        svg {
            width: 1.5rem*2.5;
            height: 1rem*2.5;
            margin-left: 1rem*2.5;
        }
    }
    
    .reset-password__reset-password-box__password-field {
        font-size: 1.063rem*2.5;
        width: 92%;
        height: 100%;
        margin-right: 0.5rem;
        border: none !important;
        outline: none !important;
    
    }
    
    .reset-password__reset-password-box__send-btn {
        @include contained-button;
        width: 100%;
        height: 3.4rem*2.5;
        border-radius: 0.75rem*2.5;
        font-size: 1.063rem*2.5;
        margin: 1.875rem*2.5 0 5rem*2.5 0;
    }
    
    .reset-password__img {
        img {
            width:100%;
            height: 35rem;
            margin: 12rem 2.5rem 0 0;
        }
    }
    
}