@import "../../../styles/mixins";

.privacy-policy{
    padding: 8rem;

    *{
        font-size: 1rem !important;
    }
}



@media (max-width: 575px) {
    
    .privacy-policy{
        padding: 12rem 5rem;
        *{
            font-size: 1rem*2 !important;
        }
    }
}