.book-details {
  padding: 6.5rem 10rem 0 10rem;
  background-color: var(--tadarab-light-bg);
}

.book-details__book-preview {
  width: 15.3125rem;
}
.book-details__book-preview img {
  width: 15.3125rem;
  height: 21.9rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.625rem;
}
.book-details__book-preview a:hover, .book-details__book-preview a:active {
  color: white !important;
}
.book-details__book-preview button {
  height: 2.85rem;
  margin: 1.875rem 0 0.875rem 0;
}
.book-details__book-preview button:nth-of-type(1) {
  box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: "Almarai", sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  width: 100%;
}
.book-details__book-preview button:nth-of-type(1):hover {
  box-shadow: none;
}
.book-details__book-preview button:nth-of-type(1):active {
  box-shadow: none;
}
.book-details__book-preview button:nth-of-type(1):hover, .book-details__book-preview button:nth-of-type(1):active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}
.book-details__book-preview button:nth-of-type(1) svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.625rem;
}
.book-details__book-preview button:nth-of-type(2) {
  box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: "Almarai", sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  border: none !important;
  display: none !important;
  width: 20%;
  margin-right: 5%;
}
.book-details__book-preview button:nth-of-type(2):hover {
  box-shadow: none;
}
.book-details__book-preview button:nth-of-type(2):active {
  box-shadow: none;
}
.book-details__book-preview button:nth-of-type(2):hover, .book-details__book-preview button:nth-of-type(2):active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}
.book-details__book-preview button:nth-of-type(2):hover, .book-details__book-preview button:nth-of-type(2):active {
  background-color: rgba(0, 0, 0, 0.08) !important;
  border: none !important;
}
.book-details__book-preview button:nth-of-type(2) svg {
  width: 1.25rem;
  height: 1rem;
}
.book-details__book-preview div {
  font-size: 0.875rem;
  color: var(--dark-black);
  font-weight: 700;
  text-align: center;
}

.book-details__book-info {
  margin: 0 4rem 0 0;
}

.book-details__book-info__book-chip {
  width: 3.6875rem;
  height: 1.75rem;
  background-color: var(--lightgrey);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-details__book-info__book-title {
  font-size: 2rem;
  font-weight: 800;
  color: var(--dark-black);
  margin: 0.2rem 0 0 0;
}

.book-details__book-info__book-author {
  font-size: 1.25rem;
  color: var(--grey);
}

.book-details__book-info__downloads-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.7rem 0 2rem 0;
}
.book-details__book-info__downloads-details svg {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 0 0.5rem 1.1875rem;
}

.book-details__book-info__downloads-details__downloads-number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.1875rem;
}
.book-details__book-info__downloads-details__downloads-number div:nth-of-type(1) {
  font-size: 0.875rem;
  color: var(--dark-black);
}
.book-details__book-info__downloads-details__downloads-number div:nth-of-type(2) {
  font-size: 1.875rem;
  font-weight: 800;
  color: var(--primary-red);
  margin-top: -0.5rem;
}

.book-details__book-info__downloads-details__manufacturer {
  width: 16.25rem;
  height: 3.125rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  color: var(--dark-black);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(239, 121, 138, 0.08);
  font-weight: 700;
}
.book-details__book-info__downloads-details__manufacturer svg {
  width: 1.0625rem;
  height: 1rem;
  margin: 0 0 0 0.4rem;
}
.book-details__book-info__downloads-details__manufacturer span {
  font-size: 1.0625rem;
  color: var(--primary-red);
  font-weight: 800;
  margin: 0 0.4rem 0 0;
}

.book-details__book-info__book-brief__title {
  font-size: 1.5rem;
  color: var(--dark-black);
  font-weight: 800;
  margin: 0 0 1rem 0;
}

.book-details__book-info__book-brief {
  width: 42.1875rem;
  height: 16rem;
  padding-bottom: 2.5rem;
  margin-top: 2.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
  color: var(--grey);
}

.book-details__book-info__book-brief__title__para {
  font-size: 1rem;
  color: var(--grey);
}

.book-details__book-info__book-brief__brief__read-more {
  font-size: 1.125rem;
  font-weight: 800;
  width: 100%;
  background-color: var(--tadarab-light-bg);
  color: #AF151F;
  position: absolute;
  bottom: 0rem;
  right: 0;
  padding: 0.8rem 0rem 1rem 0;
  cursor: pointer;
  z-index: 3;
}
.book-details__book-info__book-brief__brief__read-more span {
  margin-left: 0.5rem;
}
.book-details__book-info__book-brief__brief__read-more svg {
  width: 0.625rem;
  height: 0.375rem;
}

.book-details__book-info__book-brief__brief--fadeout-effect {
  position: absolute;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, var(--tadarab-light-bg) 100%);
  width: 100%;
  bottom: 3rem;
  height: 4rem;
  pointer-events: none;
}

.mobile-download-bar {
  display: none;
}

@media (max-width: 575px) {
  .book-details {
    padding: 11.7rem 5rem;
  }
  .book-details__book-preview {
    width: 100%;
  }
  .book-details__book-preview img {
    width: 70%;
    height: 51rem;
    box-shadow: 0 0 6rem rgba(0, 0, 0, 0.2);
    border-radius: 1.5625rem;
    display: flex;
    margin: 0 auto;
  }
  .book-details__book-preview button:nth-of-type(1) {
    display: none !important;
  }
  .book-details__book-preview button:nth-of-type(2) {
    display: none !important;
  }
  .book-details__book-preview div {
    display: none !important;
  }
  .book-details__book-info {
    margin: 3rem 0 0 0;
  }
  .book-details__book-info__book-chip {
    width: 9.21875rem;
    height: 4.375rem;
    border-radius: 1.25rem;
    font-size: 2.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .book-details__book-info__book-title {
    font-size: 4.4rem;
    margin: 0.5rem 0 0 0;
    text-align: center;
  }
  .book-details__book-info__book-author {
    font-size: 2.75rem;
    text-align: center;
  }
  .book-details__book-info__downloads-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.25rem 0 5rem 0;
    border-bottom: none;
    margin: 0;
    flex-wrap: wrap;
  }
  .book-details__book-info__downloads-details svg {
    width: 4.6875rem;
    height: 4.6875rem;
    margin: 0 0 1.25rem 2.96875rem;
  }
  .book-details__book-info__downloads-details__downloads-number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 2.96875rem;
  }
  .book-details__book-info__downloads-details__downloads-number div:nth-of-type(1) {
    font-size: 2.1875rem;
  }
  .book-details__book-info__downloads-details__downloads-number div:nth-of-type(2) {
    font-size: 4.6875rem;
    margin-top: -1.25rem;
  }
  .book-details__book-info__downloads-details__manufacturer {
    width: 40.625rem;
    height: 7.8125rem;
    border-radius: 1.875rem;
    font-size: 2.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .book-details__book-info__downloads-details__manufacturer svg {
    width: 2.65625rem;
    height: 2.5rem;
    margin: 0 0 0 1rem;
  }
  .book-details__book-info__downloads-details__manufacturer span {
    font-size: 2.65625rem;
    margin: 0 1rem 0 0;
  }
  .book-details__book-info__book-brief__title {
    font-size: 2.4rem;
    margin: 0 0 1.6rem 0;
  }
  .book-details__book-info__book-brief {
    width: 100%;
    height: 36rem;
    padding: 6.25rem 0;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  .book-details__book-info__book-brief__title__para {
    font-size: 2.1875rem;
  }
  .book-details__book-info__book-brief__brief__read-more {
    font-size: 2.8125rem;
    font-weight: 800;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    padding: 1.75rem 0 1rem 0;
    margin-top: 0;
    z-index: 3;
  }
  .book-details__book-info__book-brief__brief__read-more span {
    margin-left: 0.8rem;
  }
  .book-details__book-info__book-brief__brief__read-more svg {
    width: 1.5625rem;
    height: 0.9375rem;
  }
  .book-details__book-info__book-brief__brief--fadeout-effect {
    position: absolute;
    width: 100%;
    bottom: 5rem;
    height: 6.4rem;
  }
  .mobile-download-bar {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--tadarab-bg);
    z-index: 8;
    margin: 0 -5rem;
    background: linear-gradient(transparent 0%, var(--tadarab-bg) 5%, var(--tadarab-bg) 90%, var(--tadarab-bg) 100%);
    color: var(--dark-black);
  }
  .mobile-download-bar a:hover, .mobile-download-bar a:active {
    color: white !important;
  }
  .mobile-download-bar button {
    height: 7.125rem;
    margin: 3.75rem 0 2.1875rem 0;
    border-radius: 1.5625rem !important;
  }
  .mobile-download-bar button:nth-of-type(1) {
    box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: "Almarai", sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    width: 90%;
    font-size: 2.425rem;
    margin: 2rem 5% 1rem 5%;
  }
  .mobile-download-bar button:nth-of-type(1):hover {
    box-shadow: none;
  }
  .mobile-download-bar button:nth-of-type(1):active {
    box-shadow: none;
  }
  .mobile-download-bar button:nth-of-type(1):hover, .mobile-download-bar button:nth-of-type(1):active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .mobile-download-bar button:nth-of-type(1) svg {
    width: 3rem;
    height: 3rem;
    margin-left: 1.5625rem;
  }
  .mobile-download-bar button:nth-of-type(2) {
    box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: "Almarai", sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
    border: none !important;
    display: none !important;
    width: 13%;
    margin: 2rem 5% 1rem 0;
    padding: 0;
  }
  .mobile-download-bar button:nth-of-type(2):hover {
    box-shadow: none;
  }
  .mobile-download-bar button:nth-of-type(2):active {
    box-shadow: none;
  }
  .mobile-download-bar button:nth-of-type(2):hover, .mobile-download-bar button:nth-of-type(2):active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .mobile-download-bar button:nth-of-type(2):hover, .mobile-download-bar button:nth-of-type(2):active {
    background-color: rgba(0, 0, 0, 0.08) !important;
    border: none !important;
  }
  .mobile-download-bar button:nth-of-type(2) svg {
    width: 3.125rem;
    height: 2.5rem;
  }
  .mobile-download-bar div {
    font-size: 2.0125rem;
    text-align: center;
    margin: 0 0 1rem 0;
  }
}/*# sourceMappingURL=book-details.module.css.map */