.category-trainer {
  margin: 4rem 2rem 0 0;
}

.category-trainer__title {
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--dark-black);
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1rem;
}

.category-trainer__cards-carousel {
  padding-top: 2.0625rem;
}
.category-trainer__cards-carousel > div {
  padding: 0 !important;
}
.category-trainer__cards-carousel > div > div:nth-child(1), .category-trainer__cards-carousel > div > div:nth-child(2) {
  top: 43% !important;
}

.category-trainer__cards-carousel__card {
  width: 15rem;
  height: 17.5rem;
  box-shadow: 0 0.4rem 1.0504rem rgba(0, 0, 0, 0.1019607843);
  border-radius: 0.6rem;
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: unset;
  justify-content: flex-end;
  display: inline-flex;
  background: transparent url("/images/trainer img.png") no-repeat padding-box;
  background-size: contain;
}

.category-trainer__cards-carousel__card__card-body {
  padding: 0;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.631372549) 30%, rgba(0, 0, 0, 0.9019607843) 100%) 0% 0% no-repeat padding-box;
  padding: 0 0.3rem 1.2rem 0.3rem;
  padding-bottom: 1.2rem;
}

.category-trainer__cards-carousel__card__trainer {
  font-size: 1rem;
  font-weight: 700;
  margin: 2rem 0 0.2504rem 0;
}

.category-trainer__cards-carousel__card__job-title,
.category-trainer__cards-carousel__card__job-history {
  font-size: 0.6504rem;
  padding: 0;
}

.category-trainer__cards-carousel__card__job-history {
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 95%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (max-width: 1200px) {
  .category-trainer__cards-carousel {
    padding-top: 2.43485rem;
  }
  .category-trainer__cards-carousel > div {
    padding: 0 1.9rem !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(1), .category-trainer__cards-carousel > div > div:nth-child(2) {
    top: 43% !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(1):after, .category-trainer__cards-carousel > div > div:nth-child(2):after {
    font-size: 1.3rem !important;
    box-shadow: 0 0 1.625rem rgba(0, 0, 0, 0.2) !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(1) {
    right: 1.3rem !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(1):after {
    padding: 1.95rem 1.534rem 1.95rem 1.664rem !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(2) {
    left: 1.3rem !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(2):after {
    padding: 1.95rem 1.664rem 1.95rem 1.534rem !important;
  }
  .category-trainer__cards-carousel__card {
    width: 17.8125rem;
    height: 20.78125rem;
    box-shadow: 0 0.475rem 1.24735rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 0.7125rem;
    display: flex;
    align-items: unset;
    justify-content: flex-end;
    background: transparent url("/images/trainer img.png") no-repeat padding-box;
    background-size: contain;
  }
  .category-trainer__cards-carousel__card__card-body {
    padding: 0;
    background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.631372549) 30%, rgba(0, 0, 0, 0.9019607843) 100%) 0% 0% no-repeat padding-box;
    padding: 0 0.285rem 1.14rem 0.285rem;
    padding-bottom: 1.425rem;
  }
  .category-trainer__cards-carousel__card__trainer {
    font-size: 1.1875rem;
    margin: 2.375rem 0 0.29735rem 0;
  }
  .category-trainer__cards-carousel__card__job-title,
  .category-trainer__cards-carousel__card__job-history {
    font-size: 0.77235rem;
    padding: 0;
  }
}
@media (max-width: 980px) {
  .category-trainer__cards-carousel {
    padding-top: 3.421605rem;
  }
  .category-trainer__cards-carousel > div {
    padding: 0 2.67rem !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(1), .category-trainer__cards-carousel > div > div:nth-child(2) {
    top: 43% !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(1):after, .category-trainer__cards-carousel > div > div:nth-child(2):after {
    font-size: 1.5rem !important;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.2) !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(1) {
    right: 1.5rem !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(1):after {
    padding: 2.25rem 1.77rem 2.25rem 1.92rem !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(2) {
    left: 1.5rem !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(2):after {
    padding: 2.25rem 1.92rem 2.25rem 1.77rem !important;
  }
  .category-trainer__cards-carousel__card {
    width: 25.03125rem;
    height: 29.203125rem;
    box-shadow: 0 0.6675rem 1.752855rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 1.00125rem;
    display: flex;
    align-items: unset;
    justify-content: flex-end;
    background: transparent url("/images/trainer img.png") no-repeat padding-box;
    background-size: contain;
  }
  .category-trainer__cards-carousel__card__card-body {
    padding: 0;
    background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.631372549) 30%, rgba(0, 0, 0, 0.9019607843) 100%) 0% 0% no-repeat padding-box;
    padding: 0 0.4005rem 1.602rem 0.4005rem;
    padding-bottom: 2.0025rem;
  }
  .category-trainer__cards-carousel__card__trainer {
    font-size: 1.66875rem;
    margin: 3.3375rem 0 0.417855rem 0;
  }
  .category-trainer__cards-carousel__card__job-title,
  .category-trainer__cards-carousel__card__job-history {
    font-size: 1.085355rem;
    padding: 0;
  }
}
@media (max-width: 575px) {
  .category-trainer {
    margin: 12.4rem 0 0 0;
  }
  .category-trainer__title {
    font-size: 4.025rem;
    padding: 0 3rem 0 0;
  }
  .category-trainer__cards-carousel {
    padding-top: 6.406rem;
  }
  .category-trainer__cards-carousel > div {
    padding: 0 4.9rem !important;
  }
  .category-trainer__cards-carousel > div:before {
    box-shadow: none;
  }
  .category-trainer__cards-carousel > div > div:nth-child(1), .category-trainer__cards-carousel > div > div:nth-child(2) {
    top: 43% !important;
  }
  .category-trainer__cards-carousel > div > div:nth-child(4) > div {
    display: flex;
    align-items: unset;
    justify-content: center;
  }
  .category-trainer__cards-carousel__card {
    width: 45.9375rem;
    height: 53.59375rem;
    box-shadow: 0 1.225rem 3.21685rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 1.8375rem;
    display: flex;
    align-items: unset;
    justify-content: flex-end;
  }
  .category-trainer__cards-carousel__card__card-body {
    padding: 0;
    background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.631372549) 30%, rgba(0, 0, 0, 0.9019607843) 100%) 0% 0% no-repeat padding-box;
    padding: 0 0.735rem 2.94rem 0.735rem;
    padding-bottom: 3.675rem;
  }
  .category-trainer__cards-carousel__card__trainer {
    font-size: 3.0625rem;
    font-weight: 700;
    margin: 6.125rem 0 0.76685rem 0;
  }
  .category-trainer__cards-carousel__card__job-title,
  .category-trainer__cards-carousel__card__job-history {
    font-size: 1.99185rem;
    padding: 0;
  }
}/*# sourceMappingURL=category-trainers.module.css.map */