.statistics-row[data-theme=light] {
  --statstics-numbers: #af151f;
  --map-filter: invert(0);
}
.statistics-row[data-theme=dark] {
  --statstics-numbers: #f5f5f5;
  --map-filter: invert(100%);
}

.statistics {
  margin-top: 3rem;
  height: 29.375rem;
  position: relative;
}
.statistics::before {
  content: "";
  background-image: url("/images/map.svg");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  filter: var(--map-filter);
}

.statistics__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  padding: 2rem 3rem 2rem 3rem;
}
.statistics__title span:nth-of-type(1) {
  color: var(--dark-black);
}
.statistics__title span:nth-of-type(2) {
  color: var(--primary-red);
}

.statistics__breif {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--grey);
  text-align: center;
}

.statistics__users {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-red);
  margin-top: 2rem;
}
.statistics__users div:nth-of-type(1) {
  font-size: 3.35rem;
  font-weight: 800;
  width: 33%;
  text-align: left;
}
.statistics__users svg {
  display: inline-block;
  width: 5.2rem;
  height: 4rem;
  width: 33%;
  text-align: center;
}
.statistics__users div:nth-of-type(2) {
  font-size: 1.5rem;
  font-weight: 700;
  width: 33%;
  text-align: right;
}

.statistics__details {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.statistics__details > div {
  width: 14rem;
}

.statistics__details__img svg {
  display: inline-block;
  width: 4.938rem;
  height: 3.125rem;
}

#training-hours svg {
  width: 4.3rem;
  height: 4.3rem;
}

.statistics__details__counter {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--statstics-numbers) !important;
}
.statistics__details__counter span {
  color: var(--statstics-numbers) !important;
}
.statistics__details__counter span:nth-of-type(2) {
  font-size: 1.375rem;
}

.statistics__details__unit {
  font-size: 1.375rem;
  font-weight: 800;
  color: var(--dark-black);
  line-height: 0;
}

@media (max-width: 575px) {
  .statistics {
    margin: 10rem 5rem 0 5rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .statistics::before {
    content: "";
    background-image: url("/images/map.svg");
    background-size: 100% 30%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
  }
  .statistics__title {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 800;
    padding: 2rem 0 4rem 0;
  }
  .statistics__breif {
    font-size: 2.656rem;
    text-align: center;
    margin: 0 -1rem 0 -1rem;
  }
  .statistics__details__card {
    margin-bottom: 9.688rem;
  }
  .statistics__users {
    margin-top: 5rem;
    flex-direction: column;
  }
  .statistics__users div:nth-of-type(1) {
    font-size: 6.7rem;
    width: 100%;
    text-align: center;
  }
  .statistics__users svg {
    width: 10.4rem;
    height: 8rem;
    width: 100%;
    text-align: center;
  }
  .statistics__users div:nth-of-type(2) {
    font-size: 3.75rem;
    width: 100%;
    text-align: center;
  }
  #training-hours svg {
    width: 11.44rem;
    height: 8.8rem;
  }
  .statistics__details {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 7.813rem 0 0 0;
    padding-bottom: 2rem;
  }
  .statistics__details > div {
    width: 50%;
  }
  .statistics__details__img svg {
    width: 12.345rem;
    height: 7.8125rem;
  }
  .statistics__details__counter {
    font-size: 6.25rem;
    font-weight: 800;
  }
  .statistics__details__counter span:nth-of-type(2) {
    font-size: 3.4375rem;
  }
  .statistics__details__unit {
    font-size: 3.4375rem;
  }
}/*# sourceMappingURL=statistics.module.css.map */