.tadarab-unlimited {
  margin: 3rem 0;
  background-image: url("/images/tadarab-unlimited-desktop-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tadarab-unlimited__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 25.5rem;
}
.tadarab-unlimited__img img {
  width: 30rem !important;
  height: 23rem !important;
}

.tadarab-unlimited__brief h3:nth-of-type(1) {
  font-size: 1.875rem;
  font-weight: 800;
  margin: 0 0 1.5rem 0;
}
.tadarab-unlimited__brief h3:nth-of-type(1) span:nth-of-type(1) {
  color: var(--primary-red);
}
.tadarab-unlimited__brief h3:nth-of-type(1) span:nth-of-type(2) {
  color: white;
}
.tadarab-unlimited__brief div:nth-of-type(1) {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin: 0 0 1.8rem 0;
  width: 71%;
}
.tadarab-unlimited__brief button {
  box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: "Almarai", sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  font-size: 0.97rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  width: 8rem;
  height: 2.7rem;
}
.tadarab-unlimited__brief button:hover {
  box-shadow: none;
}
.tadarab-unlimited__brief button:active {
  box-shadow: none;
}
.tadarab-unlimited__brief button:hover, .tadarab-unlimited__brief button:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}

@media (max-width: 575px) {
  .tadarab-unlimited-mobile-view {
    margin: 0;
    background-image: url("/images/tadarab-unlimited-mobile-bg.png");
    background-size: 100% 74rem;
    width: 100%;
    height: 74rem;
    text-align: center;
  }
  .tadarab-unlimited-mobile-view__img {
    width: 100%;
  }
  .tadarab-unlimited-mobile-view__img img {
    width: 80%;
    height: 38rem;
  }
  .tadarab-unlimited-mobile-view__brief {
    text-align: center;
  }
  .tadarab-unlimited-mobile-view__brief div:nth-of-type(1) {
    font-size: 3.5625rem;
    font-weight: 800;
    margin: 0 0 3.2rem 0;
  }
  .tadarab-unlimited-mobile-view__brief div:nth-of-type(1) span:nth-of-type(1) {
    color: var(--primary-red);
  }
  .tadarab-unlimited-mobile-view__brief div:nth-of-type(1) span:nth-of-type(2) {
    color: white;
  }
  .tadarab-unlimited-mobile-view__brief div:nth-of-type(2) {
    font-size: 1.9rem;
    width: 90%;
    margin: 0 auto 3.5rem auto;
    color: white;
    font-weight: 700;
  }
  .tadarab-unlimited-mobile-view__brief button {
    box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: "Almarai", sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    font-size: 1.94rem;
    padding: 0.9375rem 1.875rem;
    border-radius: 1.5625rem;
    width: 90%;
    height: 6.21rem;
    margin-bottom: 5rem;
  }
  .tadarab-unlimited-mobile-view__brief button:hover {
    box-shadow: none;
  }
  .tadarab-unlimited-mobile-view__brief button:active {
    box-shadow: none;
  }
  .tadarab-unlimited-mobile-view__brief button:hover, .tadarab-unlimited-mobile-view__brief button:active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
}/*# sourceMappingURL=tadarab-unlimited.module.css.map */