@import "../../../styles/mixins";

.hero-section {
    &[data-theme='light'] {
        --hero-section-bg: #EEEDEF;
        --tags-border: rgba(14, 11, 29, 0.3);
    }

    &[data-theme='dark'] {
        --hero-section-bg: #1B1829;
        --tags-border: #707070;
    }

    background-color: var(--hero-section-bg);
    padding-bottom: 7rem;
    background-image: url("/images/HSlandscape.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: 3rem;
}


.hero-section__container {
    margin: 8rem -2.2rem 0 0;
    display: inline-block;
}

.hero-section__title {
    font-size: 1.875rem;
    font-weight: 800;
    color: #f5f5f5;
    margin-top: -0.3rem;
}

.hero-section__para {
    color: #f5f5f5;
    font-size: 0.9rem;
    margin-top: -0.5rem;
    font-weight: 400;
}

.hero-section__search-bar-container {
    position: relative;
    box-shadow: 0 0 1.625rem #0000001A;
    border-radius: 0.75rem;
    overflow: hidden;
    font-weight: 400;
    padding: 0.4rem 0rem 0.4rem 0rem;
    letter-spacing: 0;
    background-color: white;
    margin-top: 2rem;
    width: 27.188rem;
    @include flex(center);

}

.hero-section__sub-points {
    @include flex(flex-start, center);
    flex-direction: column;
    gap: 1rem;
}

.hero-section__sub-points__point {
    color: var(--dark-black);
    @include flex(center, flex-start);
    gap: 0.5rem;
}

.hero-section__sub-action {
    margin-top: 3rem;

    div {
        color: #f5f5f5;
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: -0.5rem;
    }

    span {
        font-size: 1.2rem;
        font-weight: 800;
    }

    button {
        @include contained-button;
        height: 2.8rem;
        width: 60%;
        margin-top: 1rem;

        svg {
            margin-right: 1.5rem;
        }
    }
}


// .hero-section__hero-img {
//     width: 31.75rem;
//     height: 31.75rem;
//     margin-right: 0rem;
//     margin-bottom: -2rem;
// }

.categories-cards-container {
    position: absolute;
    top: -2.5rem;
    width: 100%;
    @include flex(center, space-evenly);
    padding: 0 2rem;

    div:nth-of-type(1) {
        div:nth-of-type(1) {
            background-color: var(--primary-red);
        }

        div:nth-of-type(2) {
            color: var(--primary-red);
        }
    }

    div:nth-of-type(2) {
        div:nth-of-type(1) {
            background-color: #FF7900;
        }

        div:nth-of-type(2) {
            color: #FF7900;
        }
    }

    div:nth-of-type(3) {
        div:nth-of-type(1) {
            background-color: #1F7B24;
        }

        div:nth-of-type(2) {
            color: #1F7B24;
        }
    }

    div:nth-of-type(4) {
        div:nth-of-type(1) {
            background-color: #813A8A;
        }

        div:nth-of-type(2) {
            color: #813A8A;
        }
    }

}

.categories-cards-container__card {
    width: 16.25rem;
    height: 5rem;
    box-shadow: 0 0 1.875rem #0000001A;
    border-radius: 1.25rem;
    @include flex(center, flex-start);
    background-color: white;

}

.categories-cards-container__img-box {
    margin: 0 0.625rem 0 1.25rem;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 0.813rem;
    box-shadow: 0 0 1.875rem #0000001A;
    @include flex(center, center);

    svg {
        width: 2.375rem;
        height: 1.75rem;
    }
}

.categories-cards-container__category {
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--primary-red);
    margin-left: 0.8rem;
    cursor: pointer;
}

@media (max-width:575px) {
    .hero-section {
        padding: 0rem 4rem 5rem 4rem;
        background-image: url("/images/HSportrait.jpg");
        margin-top: 6rem;

    }

    // .hero-section__hero-img {
    //     margin: -2rem 0 0 0;
    //     width: 100%;
    //     height: 50rem;
    // }

    .hero-section__col {
        @include flex(center, center);
    }

    .hero-section__chips-box {
        display: none;
    }

    .hero-section__container {
        margin: 0;
        @include flex(center, center);
        flex-direction: column;
        text-align: center;
    }

    .hero-section__title {
        order: 1;
        margin: 12rem 0 0rem 0;
        font-size: 3.2rem;
    }

    .hero-section__para {
        order: 2;
        margin: 0.7rem 0 2rem 0;
        font-size: 2.2rem;
        font-weight: 400;
    }

    .hero-section__sub-points {
        @include flex(flex-start, center);
        flex-direction: column;
        gap: 1rem;
        margin-top: -5rem;
        order: 3;

    }

    .hero-section__sub-points__point {
        color: var(--dark-black);
        @include flex(center, flex-start);
        gap: 0.5rem;
        font-size: 1rem*2.5;

        svg {
            width: 4.5rem;
            height: 2.2rem;
        }
    }

    .hero-section__sub-action {
        margin-top: 10rem;
        order: 4;

        div {
            font-size: 0.8rem*2.3;
            margin-bottom: -0.5rem*2;

        }

        span {
            font-size: 1rem*2.3;
        }

        button {
            @include contained-button;
            height: 3rem*2;
            width: fit-content;
            margin-top: 1rem*2.5;
            font-size: 0.97rem*2.1;
            border-radius: 0.625rem*2.5;
            padding: 0.5rem 3rem;


            svg {
                margin-right: 1.5rem;
                width: 0.5rem*2.1;
                height: 0.8125rem*2.1;
            }
        }
    }

}