.hero-section {
  background-color: var(--hero-section-bg);
  padding-bottom: 3rem;
  background-image: url("/images/HSlandscape.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.hero-section[data-theme=light] {
  --hero-section-bg: #EEEDEF;
  --tags-border: rgba(14, 11, 29, 0.3);
}
.hero-section[data-theme=dark] {
  --hero-section-bg: #1B1829;
  --tags-border: #707070;
}

.hero-section__container {
  margin: 10rem -2.2rem 0 0;
  display: inline-block;
}

.hero-section__title {
  font-size: 1.875rem;
  font-weight: 800;
  color: #f5f5f5;
  margin-top: -0.3rem;
}

.hero-section__para {
  color: #f5f5f5;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  font-weight: 400;
}

.hero-section__search-bar-container {
  position: relative;
  box-shadow: 0 0 1.625rem rgba(0, 0, 0, 0.1019607843);
  border-radius: 0.75rem;
  overflow: hidden;
  font-weight: 400;
  padding: 0.4rem 0rem 0.4rem 0rem;
  letter-spacing: 0;
  background-color: white;
  margin-top: 2rem;
  width: 27.188rem;
  display: flex;
  align-items: center;
  justify-content: unset;
}

.hero-section__sub-points {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.hero-section__sub-points__point {
  color: var(--dark-black);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.hero-section__sub-action {
  margin-top: 2rem;
}
.hero-section__sub-action div {
  color: #f5f5f5;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: -0.5rem;
}
.hero-section__sub-action span {
  font-size: 1.2rem;
  font-weight: 800;
}
.hero-section__sub-action button {
  box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: "Almarai", sans-serif;
  border: 0 !important;
  background-color: var(--primary-red) !important;
  border: 0.125rem solid var(--primary-red) !important;
  height: 2.8rem;
  width: 60%;
  margin-top: 1rem;
}
.hero-section__sub-action button:hover {
  box-shadow: none;
}
.hero-section__sub-action button:active {
  box-shadow: none;
}
.hero-section__sub-action button:is(.hero-section__sub-action button:hover, .hero-section__sub-action button:active) {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}
.hero-section__sub-action button svg {
  margin-right: 1.5rem;
}

.hero-section__hero-img {
  width: 31.75rem;
  height: 31.75rem;
  margin-right: 0rem;
  margin-bottom: -2rem;
}

.categories-cards-container {
  position: absolute;
  top: -2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
}
.categories-cards-container div:nth-of-type(1) div:nth-of-type(1) {
  background-color: var(--primary-red);
}
.categories-cards-container div:nth-of-type(1) div:nth-of-type(2) {
  color: var(--primary-red);
}
.categories-cards-container div:nth-of-type(2) div:nth-of-type(1) {
  background-color: #FF7900;
}
.categories-cards-container div:nth-of-type(2) div:nth-of-type(2) {
  color: #FF7900;
}
.categories-cards-container div:nth-of-type(3) div:nth-of-type(1) {
  background-color: #1F7B24;
}
.categories-cards-container div:nth-of-type(3) div:nth-of-type(2) {
  color: #1F7B24;
}
.categories-cards-container div:nth-of-type(4) div:nth-of-type(1) {
  background-color: #813A8A;
}
.categories-cards-container div:nth-of-type(4) div:nth-of-type(2) {
  color: #813A8A;
}

.categories-cards-container__card {
  width: 16.25rem;
  height: 5rem;
  box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.1019607843);
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.categories-cards-container__img-box {
  margin: 0 0.625rem 0 1.25rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.813rem;
  box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.1019607843);
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-cards-container__img-box svg {
  width: 2.375rem;
  height: 1.75rem;
}

.categories-cards-container__category {
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--primary-red);
  margin-left: 0.8rem;
  cursor: pointer;
}

@media (max-width: 575px) {
  .hero-section {
    padding: 18rem 4rem 5rem 4rem;
    background-image: url("/images/HSportrait.jpg");
  }
  .hero-section__hero-img {
    margin: -2rem 0 0 0;
    width: 100%;
    height: 52rem;
  }
  .hero-section__col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-section__chips-box {
    display: none;
  }
  .hero-section__container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .hero-section__title {
    order: 1;
    margin: -6rem 0 0rem 0;
    font-size: 3.2rem;
  }
  .hero-section__para {
    order: 2;
    margin: 0.7rem 0 2rem 0;
    font-size: 2.2rem;
    font-weight: 400;
  }
  .hero-section__sub-points {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: -5rem;
    order: 3;
  }
  .hero-section__sub-points__point {
    color: var(--dark-black);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 2.5rem;
  }
  .hero-section__sub-points__point svg {
    width: 4.5rem;
    height: 2.2rem;
  }
  .hero-section__sub-action {
    margin-top: 14rem;
    order: 4;
  }
  .hero-section__sub-action div {
    font-size: 1.84rem;
    margin-bottom: -1rem;
  }
  .hero-section__sub-action span {
    font-size: 2.3rem;
  }
  .hero-section__sub-action button {
    box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: "Almarai", sans-serif;
    border: 0 !important;
    background-color: var(--primary-red) !important;
    border: 0.125rem solid var(--primary-red) !important;
    height: 7.5rem;
    width: 100%;
    margin-top: 2.5rem;
    font-size: 2.425rem;
    border-radius: 1.5625rem;
  }
  .hero-section__sub-action button:hover {
    box-shadow: none;
  }
  .hero-section__sub-action button:active {
    box-shadow: none;
  }
  .hero-section__sub-action button:is(.hero-section__sub-action button:hover, .hero-section__sub-action button:active) {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .hero-section__sub-action button svg {
    margin-right: 3.75rem;
    width: 1.25rem;
    height: 2.03125rem;
  }
}/*# sourceMappingURL=hero-section.module.css.map */