.trainers-list-row {
  margin-bottom: -5rem;
}

.trainers-list {
  padding: 7rem 9rem 0 9rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.trainers-list__cards-carousel__card {
  width: 15rem;
  height: 17.5rem;
  box-shadow: 0 0.4rem 1.0504rem rgba(0, 0, 0, 0.1019607843);
  border-radius: 0.6rem;
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: unset;
  justify-content: flex-end;
  display: inline-flex;
  margin-bottom: 1.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.trainers-list__cards-carousel__card__card-body {
  padding: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.14) 10%, rgba(0, 0, 0, 0.24) 20%, rgba(0, 0, 0, 0.34) 30%, rgba(0, 0, 0, 0.44) 40%, rgba(0, 0, 0, 0.54) 50%, rgba(0, 0, 0, 0.64) 60%, rgba(0, 0, 0, 0.74) 70%, rgba(0, 0, 0, 0.84) 80%, rgba(0, 0, 0, 0.84) 90%, rgba(0, 0, 0, 0.84) 100%);
  padding: 0 1rem 1.2rem 1rem;
}
.trainers-list__cards-carousel__card__card-body div {
  height: -moz-fit-content;
  height: fit-content;
}

.trainers-list__cards-carousel__card__trainer {
  font-size: 1rem;
  font-weight: 700;
  margin: 2rem 0 0.2504rem 0;
  cursor: pointer;
}

.trainers-list__cards-carousel__card__job-title,
.trainers-list__cards-carousel__card__job-history {
  font-size: 0.6504rem;
  padding: 0;
}

.trainers-list__cards-carousel__card__job-history {
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 95%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.trainers-list__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 5rem 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.65;
}

@media (max-width: 1200px) {
  .trainers-list {
    padding: 7rem 9rem 0 9rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .trainers-list__cards-carousel__card {
    width: 19.6875rem;
    height: 22.96875rem;
    box-shadow: 0 0.525rem 1.37865rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 0.7875rem;
    display: flex;
    align-items: unset;
    justify-content: flex-end;
    display: inline-flex;
    margin-bottom: 1.575rem;
  }
  .trainers-list__cards-carousel__card__card-body {
    padding: 0;
    padding: 0 1rem 1.575rem 1rem;
  }
  .trainers-list__cards-carousel__card__card-body div {
    height: -moz-fit-content;
    height: fit-content;
  }
  .trainers-list__cards-carousel__card__trainer {
    font-size: 1.3125rem;
    margin: 2.625rem 0 0.32865rem 0;
  }
  .trainers-list__cards-carousel__card__job-title,
  .trainers-list__cards-carousel__card__job-history {
    font-size: 0.85365rem;
    padding: 0;
  }
  .trainers-list__cards-carousel__card__job-history {
    max-height: -moz-fit-content;
    max-height: fit-content;
    width: 95%;
  }
}
@media (max-width: 980px) {
  .trainers-list {
    padding: 7rem 9rem 0 9rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .trainers-list__cards-carousel__card {
    width: 28.125rem;
    height: 32.8125rem;
    box-shadow: 0 0.75rem 1.9695rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 1.125rem;
    display: flex;
    align-items: unset;
    justify-content: flex-end;
    display: inline-flex;
    margin-bottom: 2.25rem;
  }
  .trainers-list__cards-carousel__card__card-body {
    padding: 0;
    padding: 0 1rem 2.25rem 1rem;
  }
  .trainers-list__cards-carousel__card__card-body div {
    height: -moz-fit-content;
    height: fit-content;
  }
  .trainers-list__cards-carousel__card__trainer {
    font-size: 1.875rem;
    margin: 3.75rem 0 0.4695rem 0;
  }
  .trainers-list__cards-carousel__card__job-title,
  .trainers-list__cards-carousel__card__job-history {
    font-size: 1.2195rem;
    padding: 0;
  }
  .trainers-list__cards-carousel__card__job-history {
    max-height: -moz-fit-content;
    max-height: fit-content;
    width: 95%;
  }
}
@media (max-width: 575px) {
  .trainers-list-row {
    margin-bottom: -12.5rem;
  }
  .trainers-list {
    padding: 16.8rem 5rem 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .trainers-list__cards-carousel__card {
    width: 45rem;
    height: 52.5rem;
    box-shadow: 0 1.2rem 3.1512rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 1.8rem;
    display: flex;
    align-items: unset;
    justify-content: flex-end;
    display: inline-flex;
    margin-bottom: 3.6rem;
  }
  .trainers-list__cards-carousel__card__card-body {
    padding: 0;
    padding: 0 1rem 3.6rem 1rem;
  }
  .trainers-list__cards-carousel__card__card-body div {
    height: -moz-fit-content;
    height: fit-content;
  }
  .trainers-list__cards-carousel__card__trainer {
    font-size: 3rem;
    margin: 6rem 0 0.7512rem 0;
  }
  .trainers-list__cards-carousel__card__job-title,
  .trainers-list__cards-carousel__card__job-history {
    font-size: 1.9512rem;
    padding: 0;
  }
  .trainers-list__cards-carousel__card__job-history {
    max-height: -moz-fit-content;
    max-height: fit-content;
    width: 95%;
  }
}/*# sourceMappingURL=trainers-list.module.css.map */