@import "../../../styles/mixins";

.tadarab-benefits {
    background-color: rgba(0, 20, 37, .04);
    padding: 3rem 7rem 3rem 3rem;
    @include flex(center, center);

    div:nth-of-type(2) {
        font-size: 0.9rem;

        * {
            padding: 0 2rem 0 6rem;
        }
    }
}

.tadarab-benefits__img {
    img {
        width: 17.3125rem*0.6;
        height: 10.3125rem*0.6;
        margin-top: 1rem;
    }
}

.tadarab-benefits__title {
    font-weight: 700;
    font-size: 2rem;
}

.tadarab-benefits__benefits-box {
    @include flex(center, center);
    flex-direction: column;
    padding: 0.5rem 0 0 0;
    flex-wrap: wrap;
}


@media (max-width: 575px) {
    .tadarab-benefits {
        padding: 5rem 4rem;
        @include flex(center, flex-start);
        flex-direction: column;

        div:nth-of-type(2) {
            font-size: 0.9rem*2;
            margin-top: 1rem;

            * {
                padding: 0 2rem;
                text-align: center;
            }
        }
    }

    .tadarab-benefits__img {
        width: 100%;
        @include flex(center, center);

        img {
            width: 70%;
            height: 20rem;
            margin-top: 0;
        }
    }

    .tadarab-benefits__title {
        font-size: 2rem*1.8;
        margin-top: 2rem;
        text-align: center;
        line-height: 4.2rem;
    }

    .tadarab-benefits__benefits-box {
        padding: 0.5rem*2.2 0 0 0;
    }

}