@import "../../../styles/mixins";


.course-content {
    margin-top: 4.375rem;
    width: 43.75rem;
}

.course-content__title {
    font-size: 1.5rem;
    font-weight: 800;
    color: $dark-black;
}

.course-content__course-duration-box {
    font-size: 1.25rem;
    color: $grey;
    @include flex(center);
    margin: 0.5rem 0 1rem 0;
}

.course-content__course-duration-box__courses-number {
    margin-left: 0.2rem;

    span:nth-of-type(1) {
        font-weight: 700;
    }
}

.course-content__course-duration-box__duration {
    margin-right: 0.2rem;

    span:nth-of-type(1),
    span:nth-of-type(3) {
        font-weight: 700;
    }
}

.course-content__accordion {
    border-radius: 0.75rem 0.75rem 0 0 !important;
}

.course-content__accordion__item {
    box-shadow: 0 0.063rem 0.5rem 0 #00000014;
    border-radius: 0.75rem 0.75rem 0 0 !important;
    margin-bottom: 1.5rem;
    border: 0 !important;
}

.course-content__accordion__header {
    border-radius: 0.75rem 0.75rem 0 0 !important;

    button {
        @include flex(center, space-between);
        border-radius: 0.75rem 0.75rem 0 0 !important;
        padding-bottom: 1.3rem !important;

        &::after {
            margin: 0 auto 0 0 !important;
            transform: none !important;
        }
    }

    button:not(.course-content_collapsed__cqtNE) {
        &::after {
            // margin: 0 auto 0 0 !important;
            transform: none !important;
        }
    }
}


.course-content__accordion__header__details {
    @include flex(center, flex-start);
    flex-direction: column;
}

.course-content__accordion__header__group-number {
    font-size: 1.125rem;
    font-weight: 800;
    color: $dark-black;
}

.course-content__accordion__body {
    padding-bottom: 0.1rem;
    border-radius: 0 0 0.75rem 0.75rem !important;

    .course-content__accordion__body__list-item:last-child {
        border: 0;
        padding: 0;
    }
}

.course-content__accordion__header__details-box {
    @include flex(center, flex-start);
    flex-direction: column;
}

.course-content__accordion__header__details {
    @include flex(center, flex-start);
    flex-direction: row;
    font-size: 0.813rem;
    color: $grey;
    margin: 0.2rem -0.7rem 0 0;
}

.course-content__accordion__header__details__duration {

    span {
        font-weight: 700;
    }
}

.course-content__accordion__header__details__lessons-number {
    span:nth-of-type(1) {
        font-weight: 700;
    }
}

.course-content__accordion__body__list-item {
    @include flex(center, space-between);
    margin-bottom: 1.5rem;
    border-bottom: 0.05rem solid rgba(34, 34, 34, 0.1);
    padding-bottom: 1rem
}

.course-content__accordion__body__list-item__lesson-details-box {
    @include flex(center);
}

.course-content__accordion__body__list-item__lesson-name-duration {
    margin-right: 1rem;

    div:nth-of-type(1) {
        font-size: 0.938rem;
        font-weight: 700;
        color: $dark-black;
    }

    div:nth-of-type(2) {
        font-size: 0.813rem;
        color: $grey;
    }
}

.course-content__accordion__body__list-item__watch-free {
    @include flex(center);

    span {
        font-size: 0.875rem;
        font-weight: 700;
        color: $dark-black;
        margin-left: 0.6rem;
    }
}

.course-content__show-more-btn{
    display: none;
}


@media (max-width: 575px) {
    .course-content__scrollspy-helper{
        position: absolute;
    }
    .course-content {
        margin-top: 8.438rem;
        width: 100%;
        position: relative;
    }

    .course-content__title {
        font-size: 1.5rem*2.5;
    }

    .course-content__course-duration-box {
        font-size: 1.25rem*2.5;
        @include flex(center);
        margin: 0.5rem*2.5 0 1rem*2.5 0;
    }

    .course-content__course-duration-box__courses-number {
        margin-left: 0.2rem*2.5;

        svg {
            width: 1.563rem*2.5;
            height: 1.563rem*2.5;
        }
    }

    .course-content__course-duration-box__duration {
        margin-right: 0.2rem*2.5;

        svg {
            width: 1.563rem*2.5;
            height: 1.563rem*2.5;
        }
    }

    .course-content__accordion {
        border-radius: 0.75rem*2.5 0.75rem*2.5 0 0 !important;
    }

    .course-content__accordion__item {
        box-shadow: 0 0.063rem*2.5 0.5rem*2.5 0 #00000014;
        border-radius: 0.75rem*2.5 0.75rem*2.5 0 0 !important;
        margin-bottom: 1.5rem*2.5;
        border: 0 !important;
    }

    .course-content__accordion__header {
        border-radius: 0.75rem*2.5 0.75rem*2.5 0 0 !important;

        button {
            @include flex(center, space-between);
            border-radius: 0.75rem*2.5 0.75rem*2.5 0 0 !important;
            padding-bottom: 1.3rem*2.5 !important;

            &::after {
                margin: 0 auto 0 0 !important;
                transform: none !important;
            }
        }

        button:not(.course-content_collapsed__cqtNE) {
            &::after {
                // margin: 0 auto 0 0 !important;
                transform: none !important;
            }
        }
    }


    .course-content__accordion__header__details {
        @include flex(center, flex-start);
        flex-direction: column;
    }

    .course-content__accordion__header__group-number {
        font-size: 1.125rem*2.5;
    }

    .course-content__accordion__body {
        padding-bottom: 0.1rem*2.5;
        border-radius: 0 0 0.75rem*2.5 0.75rem*2.5 !important;

        .course-content__accordion__body__list-item:last-child {
            border: 0;
            padding: 1rem*2.5 0.8rem*2.5;
        }
    }

    .course-content__accordion__header__details-box {
        @include flex(center, flex-start);
        flex-direction: column;
    }

    .course-content__accordion__header__details {
        @include flex(center, flex-start);
        flex-direction: row;
        font-size: 0.813rem*2.5;
        color: $grey;
        margin: 0.2rem*2.5 -0.7rem*2.5 0 0;
    }

    .course-content__accordion__body__list-item {
        @include flex(center, space-between);
        margin-bottom: 0;
        border-bottom: 0.05rem*2.5 solid rgba(34, 34, 34, 0.1);
        padding:  1rem*2.5 0.8rem*2.5;
    }

    .course-content__accordion__body__list-item__lesson-details-box {
        @include flex(center);
        div:nth-of-type(1){
            svg{
                width: 1.875rem*2.5;
                height: 1.875rem*2.5;
            }
        }
    }

    .course-content__accordion__body__list-item__lesson-name-duration {
        margin-right: 1rem*2.5;

        div:nth-of-type(1) {
            font-size: 0.938rem*2.5;
        }

        div:nth-of-type(2) {
            font-size: 0.813rem*2.5;
        }
    }

    .course-content__accordion__body__list-item__watch-free {
        @include flex(center);

        span {
            display: none;
        }

        svg {
            width: 1.125rem*2.5;
            height: 1.25rem*2.5;
        }
    }
    .course-content__show-more-btn{
        display: block;
        @include flex(center,center);
        @include outlined-button;
        width: 100%;
        border: 0.125rem solid $pale-red !important;
        height: 6rem;
        font-size: 2.5rem;
        border-radius: 1.5rem;
        &:hover,&:active{
            border: 0.125rem solid $pale-red !important;
        }
        margin-top: 3.125rem;
    }

}