@import "../../../styles/mixins";


.practical-projects {
    padding-top: 19.063rem;
}

.practical-projects__title {
    color: $dark-black;
    font-size: 1.75rem;

    div:nth-of-type(2) {
        font-weight: 800;
        margin-top: -0.3rem;
    }
}

.practical-projects__brief {
    font-size: 1.125rem;
    color: $grey;
    margin-top: 1.563rem;
    padding-left: 11rem;
    margin-bottom: 3.188rem;
}

.practical-projects__project-card {
    width: 32.2rem;
    // height: 19.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
    color: $grey;
    box-shadow: 0 0 2.5rem #1010101A;
    margin: 0rem 0rem 1.938rem 0rem;
}

.practical-projects__project-card__project-img {
    img {
        width: 100%;
        height: 19.75rem;
        
    }
}

.practical-projects__project-card__trainee-details-box{
    margin: 1.375rem 1.625rem;
    @include flex(center,flex-start);
}
.practical-projects__project-card__trainee-details-box__details{
    margin-right: 1.063rem;
}

.practical-projects__project-card__trainee-details-box__details__name{
    font-size: 1.125rem;
    font-weight: 700;
    color: $dark-black;

    span{
        font-size: 0.875rem;
        border-radius: 0.5rem;
        background-color: #F2F2F2;
        padding: 0 0.5rem 0.188rem 0.688rem;
        margin-right: 0.6rem;
    }
}

.practical-projects__project-card__trainee-details-box__details__project{
    font-size: 0.813rem;
    margin-top: -0.2rem;
}