.tadarab-business {
  margin-top: 3.938rem;
  padding: 1.875rem 2.5rem;
  color: white;
  border-radius: 1.5625rem;
  box-shadow: 0 0.188rem 3.5rem rgba(0, 0, 0, 0.1019607843);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 17.5rem;
  background-image: url("/images/bgweb.png");
  background-size: 100% 100%;
}

.tadarab-business__img img {
  width: 23.75rem;
  height: 17.5rem;
}

.tadarab-business__details {
  margin-right: 2.5rem;
}

.tadarab-business__details__major {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 0.6rem;
}

.tadarab-business__details__minor {
  font-size: 1rem;
  margin-bottom: 0.7rem;
}

.tadarab-business__details__btn button {
  box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: "Almarai", sans-serif;
  border: 0 !important;
  color: var(--outlined-btn-text) !important;
  border: 0.125rem solid var(--outlined-btn-border) !important;
  background-color: var(--outlined-btn-bg) !important;
  width: 9.813rem !important;
  height: 2.5rem !important;
  background-color: transparent !important;
  color: white !important;
  border: 0.063rem solid white !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tadarab-business__details__btn button:hover {
  box-shadow: none;
}
.tadarab-business__details__btn button:active {
  box-shadow: none;
}
.tadarab-business__details__btn button:hover {
  color: var(--outlined-btn-text) !important;
  border: 0.125rem solid var(--outlined-btn-border) !important;
}
.tadarab-business__details__btn button:active {
  background-color: var(--outlined-btn-bg) !important;
  color: var(--outlined-btn-text) !important;
  border: 0.125rem solid var(--outlined-btn-border) !important;
}
.tadarab-business__details__btn button:is(.tadarab-business__details__btn button:hover, .tadarab-business__details__btn button:active) {
  background-color: transparent !important;
  color: white !important;
  border: 0.063rem solid white !important;
}
.tadarab-business__details__btn button span {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
.tadarab-business__details__btn button svg {
  width: 0.875rem;
  height: 0.875rem;
}

@media (max-width: 575px) {
  .tadarab-business {
    margin-top: 9.0574rem;
    padding: 0 5.75rem 4.3125rem 5.75rem;
    color: white;
    border-radius: 3.59375rem;
    box-shadow: 0 0.4324rem 8.05rem rgba(0, 0, 0, 0.1019607843);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-image: url("/images/bgmobile.png");
    background-size: 100% 100%;
  }
  .tadarab-business__img img {
    margin: -3rem 0 0 0;
    width: 54.625rem;
    height: 40.25rem;
  }
  .tadarab-business__details {
    margin-right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .tadarab-business__details__major {
    font-size: 2.875rem;
    font-weight: 800;
    margin-bottom: 1.38rem;
  }
  .tadarab-business__details__minor {
    font-size: 2.3rem;
    margin-bottom: 1.61rem;
  }
  .tadarab-business__details__btn {
    width: 100%;
  }
  .tadarab-business__details__btn button {
    box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: "Almarai", sans-serif;
    border: 0 !important;
    color: var(--outlined-btn-text) !important;
    border: 0.125rem solid var(--outlined-btn-border) !important;
    background-color: var(--outlined-btn-bg) !important;
    width: 100% !important;
    height: 5.75rem !important;
    border-radius: 1.4375rem;
    background-color: transparent !important;
    color: white !important;
    border: 0.1449rem solid white !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tadarab-business__details__btn button:hover {
    box-shadow: none;
  }
  .tadarab-business__details__btn button:active {
    box-shadow: none;
  }
  .tadarab-business__details__btn button:hover {
    color: var(--outlined-btn-text) !important;
    border: 0.125rem solid var(--outlined-btn-border) !important;
  }
  .tadarab-business__details__btn button:active {
    background-color: var(--outlined-btn-bg) !important;
    color: var(--outlined-btn-text) !important;
    border: 0.125rem solid var(--outlined-btn-border) !important;
  }
  .tadarab-business__details__btn button:is(.tadarab-business__details__btn button:hover, .tadarab-business__details__btn button:active) {
    background-color: transparent !important;
    color: white !important;
    border: 0.1449rem solid white !important;
  }
  .tadarab-business__details__btn button span {
    font-size: 2.3rem;
    font-weight: 700;
    margin-left: 1.15rem;
  }
  .tadarab-business__details__btn button svg {
    width: 2.0125rem;
    height: 2.0125rem;
  }
}/*# sourceMappingURL=tadarab-business.module.css.map */