@import "../../../styles/mixins";

.trainer-profile__trainer-info-col {

    &[data-theme='light'] {
        --trainer-stastics-bg: rgba(175, 21, 31, 0.05);
        --stastics-numbers: #af151f;
        --tadarab-light-bg: #fff;
    }

    &[data-theme='dark'] {
        --trainer-stastics-bg: #0E0B1D;
        --stastics-numbers: #f5f5f5;
        --tadarab-light-bg: #1B1829;
    }
}

.trainer-profile__trainer-info-col__trainer-info-box {
    @include flex;
}

.trainer-profile__trainer-info-col__trainer-info-box__trainer-img {
    img {
        width: 9.375rem;
        height: 10.9rem;
        border-radius: 1.25rem;
    }
}

.trainer-profile__trainer-info-col__trainer-info-box__trainer-info {
    margin: 0 2.75rem 0 0;
    @include flex(flex-start, center);
    flex-direction: column;

    div:nth-of-type(1) {
        font-size: 0.875rem;
        color: var(--grey);
        border-radius: 0.5rem;
        background-color: #F2F2F2;
        padding: 0.34rem 0.75rem;
        width: fit-content;
    }

    h1 {
        font-size: 1.875rem;
        font-weight: 800;
        color: var(--dark-black);
        margin: 0.2rem 0 0.3rem 0;
        width: 29rem;
    }

    div:nth-of-type(2) {
        font-size: 1.25rem;
        color: var(--grey);
    }
}

.trainer-profile__trainer-info-col__stastics-box {
    @include flex;
    width: 41.875rem;
    height: 6.25rem;
    background-color: var(--trainer-stastics-bg);
    border-radius: 1.25rem;
    padding: 2.25rem;
    margin: 1.75rem 0 0 0;
}

.trainer-profile__trainer-info-col__stastics-box__stastics {
    @include flex(center);

    &:nth-of-type(1) {
        svg {
            width: 3.125rem;
            height: 1.875rem;
        }
    }

    &:nth-of-type(2) {
        margin: 0 4.5rem 0 0;

        svg {
            width: 2.6875rem;
            height: 1.875rem;
        }
    }
}

.trainer-profile__trainer-info-col__stastics-box__stastics__number-of-courses,
.trainer-profile__trainer-info-col__stastics-box__stastics__number-of-learners {
    margin: 0 0.875rem 0 0;

    div:nth-of-type(1) {
        font-size: 0.875rem;
        font-weight: 700;
        color: var(--dark-black);
    }

    div:nth-of-type(2) {
        font-size: 1.875rem;
        font-weight: 800;
        color: var(--stastics-numbers);
    }
}



.trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer {
    margin: 1.875rem 0 0 0;
    width: 42.1875rem;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;

}

.trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer__title {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--dark-black);
    margin-bottom: 1rem;
}

.trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer__para {
    font-size: 1rem;
    color: var(--grey);
    position: relative;
    overflow: hidden;
    max-height: calc(7.5 * 1rem * 1.5);
    line-height: 1.5;
    margin-bottom: 0 !important;

    
    &:has(+ .trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer__read-more:checked) {
        max-height: none;
    }
    &:has(+ .trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer__read-more:not(:checked)) {
        &:before {
            content: "";
            position: absolute;
            height: 1.5rem;
            width: 100%;
            bottom: 0;
            pointer-events: none;
            background: linear-gradient(to bottom, transparent, var(--tadarab-light-bg));
        }
    }
}

.trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer__read-more {
    font-size: 1.125rem;
    font-weight: 800;
    color: #AF151F;
    appearance: none;
    cursor: pointer;
    width: 100%;
    z-index: 3;
    height: 1.5rem;
    padding-top: 0.7rem;


    &:before {
        content: "أقرأ المزيد";
    }
    &:after {
        content: url("/images/dropDownIcon.svg");
        margin-right: 0.5rem;
        width: 2rem;
        height: 2rem;
    }

    &:checked:before {
        content: "أقرأ أقل";
    }
    
    &:checked:after {
        content: url("/images/reversedDropDownIcon.svg");
        margin-right: 0.5rem;
       
    }
}


@media (max-width: 575px) {
    .trainer-profile__trainer-info-col__trainer-info-box {
        @include flex;
    }

    .trainer-profile__trainer-info-col__trainer-info-box__trainer-img {
        img {
            width: 9.375rem*1.6;
            height: 10.9rem*1.6;
            border-radius: 1.25rem*1.6;
        }
    }

    .trainer-profile__trainer-info-col__trainer-info-box__trainer-info {
        margin: 0 2.75rem*1.6 0 0;
        @include flex(flex-start, center);
        flex-direction: column;

        div:nth-of-type(1) {
            font-size: 0.875rem*1.6;
            border-radius: 0.5rem*1.6;
            padding: 0.34rem*1.6 0.75rem*1.6;
            width: fit-content;
        }

        h1 {
            font-size: 1.875rem*1.45;
            margin: 0.2rem*1.6 0 0.3rem*1.6 0;
            width: 29.5rem;
        }

        div:nth-of-type(2) {
            font-size: 1.25rem*1.45;
        }
    }

    .trainer-profile__trainer-info-col__stastics-box {
        @include flex;
        width: 100%;
        height: 6.25rem*1.6;
        border-radius: 1.25rem*1.6;
        padding: 2.25rem*1.6;
        margin: 1.75rem*1.6 0 0 0;
    }

    .trainer-profile__trainer-info-col__stastics-box__stastics {
        @include flex(center);

        &:nth-of-type(1) {
            svg {
                width: 3.125rem*1.6;
                height: 1.875rem*1.6;
            }
        }

        &:nth-of-type(2) {
            margin: 0 4.5rem*1.6 0 0;

            svg {
                width: 2.6875rem*1.6;
                height: 1.875rem*1.6;
            }
        }
    }

    .trainer-profile__trainer-info-col__stastics-box__stastics__number-of-courses,
    .trainer-profile__trainer-info-col__stastics-box__stastics__number-of-learners {
        margin: 0 0.875rem*1.6 0 0;

        div:nth-of-type(1) {
            font-size: 0.875rem*1.6;
        }

        div:nth-of-type(2) {
            font-size: 1.875rem*1.6;
        }
    }



    .trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer {
        margin: 1.875rem*1.6 0 0 0;
        width: 100%;
        padding-bottom: 2.5rem*1.6;
        position: relative;
        overflow: hidden;
        transition: all 0.4s ease;

    }

    .trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer__title {
        font-size: 1.5rem*1.6;
        margin-bottom: 1rem*1.6;
    }

    .trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer__para {
        font-size: 1rem*1.6;
        max-height: calc(7.5 * 1rem * 1.6 * 1.5);
        &:has(+ .trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer__read-more:not(:checked)) {
            &:before {
                height: 1.5rem*1.6;
            }
        }
    }

    .trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer__read-more {
        font-size: 1.125rem*1.6;
        height: 1.5rem*1.6;
        padding-top: 0.7rem*1.6;
    }

    .trainer-profile__trainer-info-col__brief-about-trainer-box__brief-about-trainer--fadeout-effect {
        position: absolute;
        width: 100%;
        bottom: 4rem;
        height: 4rem*1.6;
    }

}