.sign-in__img img {
  width: 39rem;
  height: 24.75rem;
  margin: 10.25rem 2.75rem 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sign-in__sign-in-box {
  padding: 6.313rem 12.5rem 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sign-in__sign-in-box__title div:nth-of-type(1) {
  font-size: 1.875rem;
  color: #222222;
  font-weight: 800;
}

.sign-in__sign-in-box__title div:nth-of-type(2) {
  font-size: 1.0625rem;
  color: #777777;
}

.sign-in__sign-in-box__sign-in-with {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1.25rem;
}

.sign-in__sign-in-box__sign-in-with div {
  font-size: 1.063rem;
  font-weight: 700;
  color: #222222;
  width: 8.875rem;
  height: 3.125rem;
  -webkit-box-shadow: 0 0.1875rem 1.25rem #0000001A;
          box-shadow: 0 0.1875rem 1.25rem #0000001A;
  border-radius: 0.75rem;
  padding: 0.8125rem 1.1875rem 0.8125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 0.75rem;
  cursor: pointer;
}

.sign-in__sign-in-box__sign-in-with div svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.9375rem;
}

.sign-in__sign-in-box__sign-in-with div:last-child {
  margin-left: 0;
}

.sign-in__sign-in-box__sign-in-with-email {
  font-size: 1.0625rem;
  color: #777777;
  text-align: center;
  margin: 1.5625rem 0 0 0;
  position: relative;
}

.sign-in__sign-in-box__sign-in-with-email:before {
  content: '';
  position: absolute;
  top: 60%;
  left: 0;
  border-top: 0.05rem solid rgba(119, 119, 119, 0.5);
  width: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sign-in__sign-in-box__sign-in-with-email:after {
  content: '';
  position: absolute;
  top: 60%;
  right: 0;
  border-top: 0.05rem solid rgba(119, 119, 119, 0.5);
  width: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sign-in__sign-in-box__sign-in-form-box__email-field-container,
.sign-in__sign-in-box__sign-in-form-box__password-field-container {
  position: relative;
  -webkit-box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
          box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
  border-radius: 0.75rem;
  padding: 0.8125rem 1.1875rem 0.8125rem 0.5rem;
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.sign-in__sign-in-box__sign-in-form-box__email-field-container {
  margin: 2.125rem 0 0 0;
}

.sign-in__sign-in-box__sign-in-form-box__email-field-container svg {
  width: 1.25rem;
  height: 0.9375rem;
}

.sign-in__sign-in-box__sign-in-form-box__password-field-container {
  margin: 1.25rem 0 0 0;
}

.sign-in__sign-in-box__sign-in-form-box__password-field-container svg {
  width: 1.25rem;
  height: 1.4375rem;
}

.sign-in__sign-in-box__sign-in-form-box__email-field,
.sign-in__sign-in-box__sign-in-form-box__password-field {
  font-size: 1.063rem;
  margin: 0 1.5rem 0 0;
  width: 100%;
  height: 100%;
  border: none !important;
  outline: none !important;
}

.sign-in__sign-in-box__sign-in-form-box__email-field:active, .sign-in__sign-in-box__sign-in-form-box__email-field:focus,
.sign-in__sign-in-box__sign-in-form-box__password-field:active,
.sign-in__sign-in-box__sign-in-form-box__password-field:focus {
  outline: 0 !important;
  border: none !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.sign-in__sign-in-box__sign-in-form-box__password-field {
  width: 87%;
}

.sign-in__sign-in-box__sign-in-form-box__country-code-dropdown {
  background-color: transparent !important;
}

.sign-in__sign-in-box__sign-in-form-box__country-code-dropdown button {
  color: #777777 !important;
  background-color: transparent !important;
  border: 0 !important;
  outline: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.sign-in__sign-in-box__sign-in-form-box__country-code-dropdown button:after {
  margin: 0 0.4375rem 0 0  !important;
}

.sign-in__sign-in-box__sign-in-form-box__country-code-dropdown button + div a {
  background-color: transparent !important;
  color: #222222 !important;
}

.sign-in__sign-in-box__sign-in-form-box__country-code-dropdown button + div a:hover {
  background-color: rgba(119, 119, 119, 0.1) !important;
}

.sign-in__sign-in-box__sign-in-form-box__show-password-icon-wrapper svg {
  width: 1.5rem;
  height: 1rem;
  cursor: pointer;
}

.sign-in__sign-in-box__sign-in-form-box__icon-wrapper {
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-in__sign-in-box__sign-in-form-box__make-new-acc-btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: 'Almarai', sans-serif;
  border: 0 !important;
  background-color: #AF151F !important;
  border: 0.125rem solid #AF151F !important;
  width: 100%;
  height: 3.4rem;
  border-radius: 0.75rem;
  font-size: 1.063rem;
  margin-top: 1rem;
}

.sign-in__sign-in-box__sign-in-form-box__make-new-acc-btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sign-in__sign-in-box__sign-in-form-box__make-new-acc-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sign-in__sign-in-box__sign-in-form-box__make-new-acc-btn:hover, .sign-in__sign-in-box__sign-in-form-box__make-new-acc-btn:active {
  background-color: #9d151e !important;
  border: 0.125rem solid #9d151e !important;
}

.sign-in__sign-in-box__sign-in-form-box__forget-password {
  font-size: 1.125rem;
  font-weight: 700;
  color: #222222;
  text-align: center;
  margin: 1rem 0 0 0;
  cursor: pointer;
}

.sign-in__sign-in-box__sign-in-form-box__do-you-have-acc {
  font-size: 1.125rem;
  text-align: center;
  margin: 1.5rem 0 5rem 0;
}

.sign-in__sign-in-box__sign-in-form-box__do-you-have-acc span:nth-of-type(1) {
  color: #777777;
}

.sign-in__sign-in-box__sign-in-form-box__do-you-have-acc span:nth-of-type(2) {
  color: #AF151F;
  font-weight: 800;
  cursor: pointer;
}

@media (max-width: 575px) {
  .sign-in {
    padding: 0 3rem;
  }
  .sign-in__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none !important;
  }
  .sign-in__img img {
    width: 100%;
    height: 32rem;
    margin: 12rem 0 0 0;
  }
  .sign-in__sign-in-box {
    padding: 15rem 0 0 0;
    width: 100%;
  }
  .sign-in__sign-in-box__title {
    text-align: center;
  }
  .sign-in__sign-in-box__title div:nth-of-type(1) {
    font-size: 4.6875rem;
  }
  .sign-in__sign-in-box__title div:nth-of-type(2) {
    font-size: 2.65625rem;
  }
  .sign-in__sign-in-box__sign-in-with {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sign-in__sign-in-box__sign-in-with div {
    font-size: 2.6575rem;
    width: 100%;
    height: 7.8125rem;
    -webkit-box-shadow: 0 0.1875rem 1.25rem #0000001A;
            box-shadow: 0 0.1875rem 1.25rem #0000001A;
    border-radius: 1.875rem;
    padding: 0.8125rem 1.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2.5rem 0 0 0;
  }
  .sign-in__sign-in-box__sign-in-with div svg {
    width: 3.75rem;
    height: 3.75rem;
    margin-left: 3rem;
  }
  .sign-in__sign-in-box__sign-in-with div:last-child {
    margin-left: 0;
  }
  .sign-in__sign-in-box__sign-in-with-email {
    font-size: 2.65625rem;
    margin: 3.90625rem 0 0 0;
    position: relative;
  }
  .sign-in__sign-in-box__sign-in-with-email:before {
    content: '';
    position: absolute;
    top: 60%;
    left: 0;
    border-top: 0.125rem solid rgba(119, 119, 119, 0.5);
    width: 12%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sign-in__sign-in-box__sign-in-with-email:after {
    content: '';
    position: absolute;
    top: 60%;
    right: 0;
    border-top: 0.125rem solid rgba(119, 119, 119, 0.5);
    width: 12%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sign-in__sign-in-box__sign-in-form-box__email-field-container,
  .sign-in__sign-in-box__sign-in-form-box__password-field-container {
    -webkit-box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
            box-shadow: 0rem 0.1875rem 1.25rem #0000001A;
    border-radius: 1.875rem;
    padding: 2.03125rem 2.96875rem 2.03125rem 1.25rem;
    height: 7.8125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .sign-in__sign-in-box__sign-in-form-box__email-field-container {
    margin: 5.3125rem 0 0 0;
  }
  .sign-in__sign-in-box__sign-in-form-box__email-field-container svg {
    width: 3.125rem;
    height: 2.34375rem;
  }
  .sign-in__sign-in-box__sign-in-form-box__password-field-container {
    margin: 3.125rem 0 0 0;
  }
  .sign-in__sign-in-box__sign-in-form-box__password-field-container svg {
    width: 3.125rem;
    height: 3.59375rem;
  }
  .sign-in__sign-in-box__sign-in-form-box__email-field,
  .sign-in__sign-in-box__sign-in-form-box__password-field {
    font-size: 2.6575rem;
    margin: 0 3.75rem 0 0;
    width: 100%;
    height: 100%;
  }
  .sign-in__sign-in-box__sign-in-form-box__email-field:active, .sign-in__sign-in-box__sign-in-form-box__email-field:focus,
  .sign-in__sign-in-box__sign-in-form-box__password-field:active,
  .sign-in__sign-in-box__sign-in-form-box__password-field:focus {
    outline: 0 !important;
    border: none !important;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .sign-in__sign-in-box__sign-in-form-box__password-field {
    width: 80%;
  }
  .sign-in__sign-in-box__sign-in-form-box__country-code-dropdown button {
    font-size: 2.5rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .sign-in__sign-in-box__sign-in-form-box__country-code-dropdown button:after {
    margin: 0 1.09375rem 0 0 !important;
  }
  .sign-in__sign-in-box__sign-in-form-box__country-code-dropdown button + div {
    min-width: 17rem;
    border-radius: 0.625rem;
    font-size: 2.5rem;
  }
  .sign-in__sign-in-box__sign-in-form-box__country-code-dropdown button + div a {
    background-color: transparent !important;
    color: #222222 !important;
  }
  .sign-in__sign-in-box__sign-in-form-box__country-code-dropdown button + div a:hover {
    background-color: rgba(119, 119, 119, 0.1) !important;
  }
  .sign-in__sign-in-box__sign-in-form-box__show-password-icon-wrapper svg {
    width: 3.75rem;
    height: 2.5rem;
    margin-right: 0.5rem;
  }
  .sign-in__sign-in-box__sign-in-form-box__icon-wrapper {
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sign-in__sign-in-box__sign-in-form-box__make-new-acc-btn {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-transform: none;
    font-size: 0.97rem;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    border-radius: 0.625rem;
    font-family: 'Almarai', sans-serif;
    border: 0 !important;
    background-color: #AF151F !important;
    border: 0.125rem solid #AF151F !important;
    width: 100%;
    height: 8.5rem;
    border-radius: 1.875rem;
    font-size: 2.6575rem;
    margin-top: 2.5rem;
  }
  .sign-in__sign-in-box__sign-in-form-box__make-new-acc-btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sign-in__sign-in-box__sign-in-form-box__make-new-acc-btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sign-in__sign-in-box__sign-in-form-box__make-new-acc-btn:hover, .sign-in__sign-in-box__sign-in-form-box__make-new-acc-btn:active {
    background-color: #9d151e !important;
    border: 0.125rem solid #9d151e !important;
  }
  .sign-in__sign-in-box__sign-in-form-box__forget-password {
    font-size: 2.8125rem;
    margin: 2.5rem 0 0 0;
  }
  .sign-in__sign-in-box__sign-in-form-box__do-you-have-acc {
    font-size: 2.8125rem;
    margin: 3.75rem 0 12.5rem 0;
  }
}
/*# sourceMappingURL=sign-in-page.module.css.map */