@import "../../../styles/mixins";

.course-ad {
    margin: 5.7rem 0rem 0 0;

    &[data-theme='light'] {
        --arrow-icon: url('/images/arrow.svg');
    }

    &[data-theme='dark'] {
        --arrow-icon: url('/images/arrow1.svg');
    }
}


.course-ad__list {
    @include flex(center);
    font-size: 0.938rem;
    font-weight: 700;
    color: var(--dark-black);
    padding: 0;
    margin-bottom: 1.2rem;

    li {
        cursor: pointer;
        float: right;
        margin-right: 0.5rem;
        list-style-type: none;
        padding-right: 1rem;
        background: var(--arrow-icon) no-repeat right center;
        background-size: 0.375rem 0.625rem;
    }

    li:first-child {
        background: none;
        padding: 0;
        margin: 0;
    }
}

.course-ad__course-img {
    width: fit-content;
    // height: fit-content;
    position: relative;

    img {
        width: 43rem;
        height: 25rem;
        border-radius: 1.25rem;
        box-shadow: 0 0 1.25rem #0000001A;
        // cursor: pointer;

        // &:after{
        //     content: '';
        //     position: absolute;
        //     width: 100%; height:100%;
        //     top:0; left:0;
        //     background:rgba(0,0,0,0.6);
        // }
    }
}

.course-ad__course-ad-video {
    width: 43rem;
    height: 24rem;
    box-shadow: 0 0 1.25rem #0000001A;
    overflow: hidden;
    border-radius: 1.375rem;
    position: relative;

    // &:after{
    //         content: '';
    //         position: absolute;
    //         width: 100%; height:100%;
    //         top:0; left:0;
    //         background:rgba(0,0,0,0.3);
    //     }
    img {
        width: 100%;
    }

    &>div {
        background-color: transparent;
        height: 24rem;

        &>iframe {
            width: 100% !important;
            height: 100%;
        }

    }

    video {
        border-radius: 1.375rem;

    }

    .live-webinar-countdown {
        background-color: var(--pale-red-bg);
        box-shadow: 0 0.188rem 0.5rem #0000001A;
        padding: 0.563rem 1rem 0.7rem 1rem;
        border-radius: 0.625rem;
        color: var(--primary-red);
        @include flex(center, space-between);
        width: 50%;
        position: absolute;
        bottom: 7%;
        right: 25%;
        height: fit-content;
    }


}

.video-player-gradient {
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        pointer-events: none;
    }
}

.course-ad__course-ad-video__text {
    position: absolute;
    color: white;
    z-index: 1;
    top: 15rem;
    right: 17rem;
    font-size: 1.2rem;
}

.course-ad__course-img__watch-ad {
    position: absolute;
    top: 20%;
    left: 0%;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.23);
    border-radius: 1.25rem;
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    height: 100%;

    div:nth-of-type(1) {
        cursor: pointer;
    }

    div:nth-of-type(2) {
        font-size: 0.938rem;
        font-weight: 700;
        cursor: pointer;
        z-index: 5;
    }
}

.course-ad__course-title {
    font-size: 1.08rem;
    font-weight: 800;
    color: var(--dark-black);
    margin-top: 1.5rem;
}

.course-ad__course-description {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--grey);
    width: 97%;
}




// .live-webinar-countdown {
//     background-color: rgba(175, 21, 31, 0.08);
//     box-shadow: 0 0.188rem 0.5rem #0000001A;
//     padding: 0.563rem 1rem 0.7rem 1rem;
//     border-radius: 0.625rem;
//     color: var(--primary-red);
//     @include flex(center, space-between);
//     width: 50%;
//     margin: 2rem auto;
//     position: absolute;
//     bottom: 0;
// }

.live-webinar-countdown__offer-available {
    margin-left: 1.938rem;

    div:nth-of-type(2) {
        font-size: 1rem;
        font-weight: 800;
    }

    div:nth-of-type(1) {
        font-size: 0.938rem;
        margin-top: -0.2rem;
    }
}

.live-webinar-countdown__countdown-box {
    @include flex(center);
}

.live-webinar-countdown__countdown-box__countdown {
    @include flex(center, center);
    flex-direction: column;
    width: 2.3125rem;

    div:nth-of-type(1) {
        font-size: 0.813rem;
    }

    div:nth-of-type(2) {
        font-size: 1.063rem;
        font-weight: 800;
        border-radius: 0.25rem;
        background-color: white;
        padding: 0.313rem 0.5rem;
        margin-top: 0.1rem;
        @include flex(center, center);
        width: 100%;
    }
}

.live-webinar-countdown__countdown-box__separator {
    font-size: 1.063rem;
    font-weight: 800;
    color: #222;
    margin: 0.8rem 0.2rem 0 0.2rem;
}


.tadarab-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 24px;
    width: 24px;
}

.tadarab-icon.live-white {
    background: transparent url('/images/live-stream-red_24X24.png') no-repeat scroll center center/100% auto
}

@media (max-width: 575px) {
    .course-ad {
        margin: 10.5rem 0 0 0;
    }


    .course-ad__list {
        @include flex(center);
        font-size: 1.8rem;
        padding: 0;
        margin: 0 0 2rem 0;

        li {
            cursor: pointer;
            float: right;
            margin-right: 2.188rem;
            list-style-type: none;
            padding-right: 2.188rem;
            background-size: 0.937rem 1.563rem;
        }

        li:first-child {
            background: none;
            padding: 0;
            margin: 0;
        }
    }

    .course-ad__course-img {
        width: calc(100% + 6rem);
        // width:100%;
        position: relative;
        margin: 0 -3rem 0 0;

        img {
            width: 100%;
            height: 38.594rem;
            border-radius: 0;
            box-shadow: 0 0 3.125rem #0000001A;
            cursor: pointer;
        }
    }

    .course-ad__course-ad-video {
        width: calc(100% + 6rem);
        height: 32.4rem;
        box-shadow: 0 0 1.25rem #0000001A;
        border-radius: 0;
        margin: 0 -3rem 0 0;

        &>div {
            background-color: transparent;
            height: 32.4rem;

            &>iframe {
                width: 100% !important;
                height: 100% !important;
            }
        }

        video {
            border-radius: 0;

        }

        .live-webinar-countdown {
            background-color: var(--pale-red-bg);
            box-shadow: 0 0.23rem 0.62rem #0000001A;
            padding: 1.5rem;
            border-radius: 1rem;
            margin-top: 3.5rem;
            width: 90%;
            right: 0%;
            bottom: 5%;
            margin: 0 5%;
            @include flex(center, space-around);
        }
    }

    .video-player-gradient {
        &:after {
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.05) 5%,
                    rgba(0, 0, 0, 0.1) 10%,
                    rgba(0, 0, 0, 0.15) 15%,
                    rgba(0, 0, 0, 0.2) 20%,
                    rgba(0, 0, 0, 0.25) 25%,
                    rgba(0, 0, 0, 0.3) 30%,
                    rgba(0, 0, 0, 0.35) 35%,
                    rgba(0, 0, 0, 0.4) 40%,
                    rgba(0, 0, 0, 0.45) 45%,
                    rgba(0, 0, 0, 0.5) 50%);
        }
    }

    .course-ad__course-ad-video__text {
        top: 22rem;
        right: 22rem;
        font-size: 2rem;
    }

    .course-ad__course-img__watch-ad {
        position: absolute;
        top: 50%;
        left: 0%;
        padding: 0;
        margin: 0;
        color: white;
        text-align: center;
        background: rgba(0, 0, 0, 0.23);
        border-radius: 0;
        @include flex(center, center);
        flex-direction: column;
        width: 100%;
        height: 100%;

        div:nth-of-type(1) {
            cursor: pointer;

            svg {
                width: 7rem;
                height: 7rem;
                margin-bottom: 1.5rem;
            }
        }

        div:nth-of-type(2) {
            font-size: 2.345rem;
            font-weight: 700;
            cursor: pointer;
        }
    }

    .course-ad__details-list {
        margin-top: 1rem*2.6;
        padding-bottom: 0.8rem*2.6;
        border-bottom: 0.05rem*2.6 solid rgba(34, 34, 34, 0.1);
        flex-direction: column;

    }

    .course-ad__details-list__item {
        @include flex(center);
        margin-bottom: 0.4rem*2.6;

        span {
            font-size: 0.875rem*2.6;
            color: var(--dark-black);
            margin-right: 1rem*2.6;
        }

        svg {
            width: 1.25rem*2.2;
            height: 1.25rem*2.2;
        }
    }

    .course-ad__course-title {
        font-size: 1.0625rem*2.5;
        margin-top: 1.5rem;
    }

    .course-ad__course-description {
        font-size: 0.875rem*2.3;
        font-weight: 400;
        color: var(--grey);
        margin-bottom: 2rem;
    }



    // .live-webinar-countdown {
    //     background-color: rgba(175, 21, 31, 0.08);
    //     box-shadow: 0 0.23rem 0.62rem #0000001A;
    //     padding: 1.5rem;
    //     border-radius: 1rem;
    //     margin-top: 3.5rem;
    //     width: 100%;
    //     @include flex(center, space-around);
    // }

    .live-webinar-countdown__offer-available {
        margin-left: 2.4rem;

        div:nth-of-type(2) {
            font-size: 2.5rem;
        }

        div:nth-of-type(1) {
            font-size: 2.344rem;
            margin-top: -0.248rem;
        }
    }

    .live-webinar-countdown__countdown-box {
        @include flex(center);
    }

    .live-webinar-countdown__countdown-box__countdown {
        @include flex(center, center);
        flex-direction: column;
        width: 5rem;


        div:nth-of-type(1) {
            font-size: 2.031rem;
        }

        div:nth-of-type(2) {
            font-size: 2.656rem;
            border-radius: 0.31rem;
            padding: 0.626rem 1rem;
            margin-top: 0.2rem;
        }
    }

    .live-webinar-countdown__countdown-box__separator {
        font-size: 2.656rem;
        margin: 2.6rem 1rem 0 1rem;
    }

    .monthly_subscription__live-details-list {
        @include flex(center, flex-start);
        font-size: 2.2rem;
        color: var(--dark-black);

        div {
            margin-bottom: 0.25rem*2.2;

            svg {
                width: 0.8rem*2.2;
                height: 0.8rem*2.2;
                margin-left: 0.3rem*2.2;
            }
        }
    }
}