.best-seller-courses {
  background-color: var(--tadarab-light-bg);
}

.best-seller-courses__title {
  margin-top: 2rem;
  font-size: 2rem;
  padding: 1rem 3rem 0 3rem;
  z-index: 5;
  color: var(--dark-black);
}
.best-seller-courses__title h2 {
  font-weight: 800;
  margin: 0px;
}

.best-seller-courses__departments-list {
  z-index: 5;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--grey);
  padding-top: 1.25rem;
}
.best-seller-courses__departments-list li:nth-of-type(1)::before {
  content: "";
}
.best-seller-courses__departments-list li {
  float: right;
  padding-left: 1rem;
  list-style-type: none;
  cursor: pointer;
  z-index: 3;
}
.best-seller-courses__departments-list li::before {
  content: "-";
  padding-left: 0.5rem;
  color: var(--grey);
  text-decoration: none !important;
  display: inline-block;
}

.best-seller-courses__cards-carousel {
  margin: 1.938rem 0 3rem 0;
}
.best-seller-courses__cards-carousel > div {
  padding: 0 2rem !important;
  margin-top: 0;
  margin-bottom: 0;
}
.best-seller-courses__cards-carousel > div:before {
  content: "";
  display: block;
  position: absolute;
  box-shadow: -2.813rem 0 2.5rem -3.125rem var(--tadarab-light-bg) inset, 2.813rem 0 2.5rem -3.125rem var(--tadarab-light-bg) inset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  pointer-events: none;
}
.best-seller-courses__cards-carousel > div > div:nth-child(1), .best-seller-courses__cards-carousel > div > div:nth-child(2) {
  top: 48% !important;
}
.best-seller-courses__cards-carousel > div > div:nth-child(3) {
  display: none;
}
.best-seller-courses__cards-carousel > div > div:nth-child(4) {
  height: -moz-fit-content;
  height: fit-content;
}
.best-seller-courses__cards-carousel > div:before {
  height: 80% !important;
}

.best-seller-courses__cards-carousel__course-card {
  width: 15rem;
  height: 14rem;
  box-shadow: 0 0.5rem 1.313rem rgba(0, 0, 0, 0.1019607843);
  border-radius: 0.75rem;
  position: relative;
  display: inline-block;
  overflow: visible;
  background-color: var(--tadarab-bg);
}
.best-seller-courses__cards-carousel__course-card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  display: inline-block;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  border-radius: 0.75rem;
  pointer-events: none;
}

.best-seller-courses__cards-carousel__course-card__category-chip {
  position: absolute;
  top: 1rem;
  left: 1.2rem;
  border-radius: 0.75rem;
  padding: 0.12rem 0.7rem;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: #813A8A;
  z-index: 2;
}

.best-seller-courses__cards-carousel__course-card__course-img {
  width: 100%;
  height: 10rem;
  cursor: pointer;
  border-radius: 0.75rem 0.75rem 0 0;
}

.best-seller-courses__cards-carousel__course-card__card-body {
  padding: 0.6rem 1rem 0.6rem 1rem;
  display: flex;
  align-items: unset;
  justify-content: space-between;
  flex-direction: column;
  height: 43.5%;
}

.best-seller-courses__cards-carousel__course-card__card-body__card-header {
  display: flex;
  align-items: center;
  justify-content: unset;
  position: relative;
  padding: 0 0 0.7813rem 0;
}

.best-seller-courses__cards-carousel__course-card__card-body__card-header__trainer-img-box {
  display: inline-block;
  font-size: 0.5rem;
}
.best-seller-courses__cards-carousel__course-card__card-body__card-header__trainer-img-box img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.6rem;
  cursor: pointer;
}

.best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details {
  display: inline-block;
}

.best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details__title {
  font-size: 0.875rem;
  font-weight: 800;
  color: var(--dark-black);
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 9.688rem;
}

.best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details__author {
  font-size: 0.813rem;
  color: var(--grey);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 9.688rem;
  cursor: pointer;
}

.watch-subscribed-course {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  color: var(--dark-black);
  cursor: pointer;
  background-color: var(--lightgrey);
}

.best-seller-courses__see-more-btn-col {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.best-seller-courses__see-more-btn {
  box-shadow: none !important;
  text-transform: none;
  font-size: 0.97rem;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
  border-radius: 0.625rem;
  font-family: "Almarai", sans-serif;
  border: 0 !important;
  color: var(--outlined-btn-text) !important;
  border: 0.125rem solid var(--outlined-btn-border) !important;
  background-color: var(--outlined-btn-bg) !important;
  font-size: 1.063rem;
  color: var(--outlined-btn-text);
  font-weight: 700;
  width: 10rem;
  height: 2.75rem;
  z-index: 5;
  border: 0.125rem solid var(--outlined-btn-border) !important;
  border-radius: 0.75rem;
  margin-left: 3rem;
  background-color: var(--tadarab-light-bg) !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.best-seller-courses__see-more-btn:hover {
  box-shadow: none;
}
.best-seller-courses__see-more-btn:active {
  box-shadow: none;
}
.best-seller-courses__see-more-btn:hover {
  color: var(--outlined-btn-text) !important;
  border: 0.125rem solid var(--outlined-btn-border) !important;
}
.best-seller-courses__see-more-btn:active {
  background-color: var(--outlined-btn-bg) !important;
  color: var(--outlined-btn-text) !important;
  border: 0.125rem solid var(--outlined-btn-border) !important;
}
.best-seller-courses__see-more-btn:is(.best-seller-courses__see-more-btn:hover, .best-seller-courses__see-more-btn:active) {
  color: var(--outlined-btn-text) !important;
  border: 0.125rem solid var(--outlined-btn-border) !important;
}
.best-seller-courses__see-more-btn svg {
  width: 0.5rem;
  height: 0.875rem;
}

@media (max-width: 1024px) {
  .popover-wrapper {
    display: none;
  }
}
@media (max-width: 1200px) {
  .best-seller-courses__departments-list {
    padding-right: 3rem;
  }
  .best-seller-courses__cards-carousel {
    margin: 0.5rem 0 0 0;
  }
  .best-seller-courses__cards-carousel > div {
    padding: 1.27rem 2.54rem !important;
    margin-top: 0;
    margin-bottom: 0;
    /* 
         padding: 30rem 2rem !important;
    margin-top: -30rem;
    margin-bottom: -30rem;
         */
  }
  .best-seller-courses__cards-carousel > div:before {
    box-shadow: none;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1), .best-seller-courses__cards-carousel > div > div:nth-child(2) {
    top: 47% !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1):after, .best-seller-courses__cards-carousel > div > div:nth-child(2):after {
    font-size: 1.27rem !important;
    box-shadow: 0 0 1.5875rem rgba(0, 0, 0, 0.2) !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1) {
    right: 1.27rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1):after {
    padding: 1.905rem 1.4986rem 1.905rem 1.6256rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(2) {
    left: 1.27rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(2):after {
    padding: 1.905rem 1.6256rem 1.905rem 1.4986rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(3) {
    display: none;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(4) {
    height: -moz-fit-content;
    height: fit-content;
  }
  .best-seller-courses__cards-carousel__course-card {
    width: 19.05rem;
    height: 17.78rem;
    box-shadow: 0 0.635rem 1.66751rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 0.9525rem;
    position: relative;
    display: inline-block;
  }
  .best-seller-courses__cards-carousel__course-card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 6.35rem;
    display: inline-block;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 0.9525rem;
  }
  .best-seller-courses__cards-carousel__course-card__category-chip {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    border-radius: 0.75rem;
    padding: 0.12rem 0.7rem;
    color: white;
    top: 1.27rem;
    left: 1.524rem;
    border-radius: 0.9525rem;
    padding: 0.1524rem 0.889rem;
    font-size: 0.9525rem;
    font-weight: 700;
    background-color: #813A8A;
    z-index: 2;
  }
  .best-seller-courses__cards-carousel__course-card__course-img {
    width: 100%;
    height: 12.7rem;
    border-radius: 0.9525rem 0.9525rem 0 0;
  }
  .best-seller-courses__cards-carousel__course-card__card-body {
    padding: 0.762rem 1.27rem;
    display: flex;
    align-items: unset;
    justify-content: space-between;
    flex-direction: column;
    height: 26%;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header {
    display: flex;
    align-items: center;
    justify-content: unset;
    position: relative;
    padding: 0 0 0.992251rem 0;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__trainer-img-box {
    display: inline-block;
    font-size: 0.635rem;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__trainer-img-box img {
    border-radius: 50%;
    width: 3.175rem;
    height: 3.175rem;
    margin-left: 0.762rem;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details {
    display: inline-block;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details__title {
    font-size: 1.11125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 13rem;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details__author {
    font-size: 1.03251rem;
    color: var(--grey);
    width: 13rem;
  }
  .watch-subscribed-course {
    font-size: 1.143rem !important;
    padding: 0.635rem 1.27rem;
    border-radius: 0.889rem;
  }
}
@media (max-width: 980px) {
  .best-seller-courses__departments-list {
    padding-right: 3rem;
  }
  .best-seller-courses__cards-carousel {
    margin: 0.5rem 0 0 0;
  }
  .best-seller-courses__cards-carousel > div {
    padding: 1.67rem 3.34rem !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  .best-seller-courses__cards-carousel > div:before {
    box-shadow: none;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1), .best-seller-courses__cards-carousel > div > div:nth-child(2) {
    top: 43% !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1):after, .best-seller-courses__cards-carousel > div > div:nth-child(2):after {
    font-size: 1.67rem !important;
    box-shadow: 0 0 2.0875rem rgba(0, 0, 0, 0.2) !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1) {
    right: 1.67rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1):after {
    padding: 2.505rem 1.9706rem 2.505rem 2.1376rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(2) {
    left: 1.67rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(2):after {
    padding: 2.505rem 2.1376rem 2.505rem 1.9706rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(3) {
    display: none;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(4) {
    height: -moz-fit-content;
    height: fit-content;
  }
  .best-seller-courses__cards-carousel__course-card {
    width: 25.05rem;
    height: 23.38rem;
    box-shadow: 0 0.835rem 2.19271rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 1.2525rem;
    position: relative;
    display: inline-block;
  }
  .best-seller-courses__cards-carousel__course-card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8.35rem;
    display: inline-block;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 1.2525rem;
  }
  .best-seller-courses__cards-carousel__course-card__category-chip {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    border-radius: 0.75rem;
    padding: 0.12rem 0.7rem;
    color: white;
    top: 1.67rem;
    left: 2.004rem;
    border-radius: 1.2525rem;
    padding: 0.2004rem 1.169rem;
    font-size: 1.2525rem;
    font-weight: 700;
    background-color: #813A8A;
    z-index: 2;
  }
  .best-seller-courses__cards-carousel__course-card__course-img {
    width: 100%;
    height: 16.7rem;
    border-radius: 1.2525rem 1.2525rem 0 0;
  }
  .best-seller-courses__cards-carousel__course-card__card-body {
    padding: 1.002rem 1.67rem;
    display: flex;
    align-items: unset;
    justify-content: space-between;
    flex-direction: column;
    height: 26%;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header {
    display: flex;
    align-items: center;
    justify-content: unset;
    position: relative;
    padding: 0 0 1.304771rem 0;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__trainer-img-box {
    display: inline-block;
    font-size: 0.835rem;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__trainer-img-box img {
    border-radius: 50%;
    width: 4.175rem;
    height: 4.175rem;
    margin-left: 1.002rem;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details {
    display: inline-block;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details__title {
    font-size: 1.46125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 16.5rem;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details__author {
    font-size: 1.35771rem;
    color: var(--grey);
    width: 16.5rem;
  }
  .watch-subscribed-course {
    font-size: 1.503rem !important;
    padding: 0.835rem 1.67rem;
    border-radius: 1.169rem;
  }
}
@media (max-width: 575px) {
  .best-seller-courses__title {
    text-align: center;
    padding: 0;
    margin: 8rem 0 1rem 0;
  }
  .best-seller-courses__title span {
    font-size: 3.75rem;
  }
  .best-seller-courses__departments-list {
    padding: 0 3rem 0 4rem;
    font-size: 2.2rem;
    list-style-type: none;
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .best-seller-courses__departments-list li {
    float: right;
    padding-left: 1.5rem;
    list-style-type: none;
    cursor: pointer;
    z-index: 3;
  }
  .best-seller-courses__departments-list li::before {
    padding-left: 1.46rem;
  }
  .best-seller-courses__departments-list__item--active {
    text-underline-offset: 0.584rem;
  }
  .best-seller-courses__see-more-btn-col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .best-seller-courses__see-more-btn {
    font-size: 2.6575rem;
    width: 100%;
    height: 6.875rem;
    border-width: 0.3125rem !important;
    border-radius: 1.875rem;
    margin: 0 8.5rem 0 8.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .best-seller-courses__see-more-btn:is(.best-seller-courses__see-more-btn:hover, .best-seller-courses__see-more-btn:active) {
    border-width: 0.3125rem !important;
  }
  .best-seller-courses__see-more-btn svg {
    width: 1.25rem;
    height: 2.1875rem;
    margin: 0.2rem 2.063rem 0 0;
  }
  .best-seller-courses__cards-carousel {
    margin: 0.5rem 0 0 0;
  }
  .best-seller-courses__cards-carousel > div {
    padding: 3.5rem 5rem !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  .best-seller-courses__cards-carousel > div:before {
    box-shadow: none;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1), .best-seller-courses__cards-carousel > div > div:nth-child(2) {
    top: 46% !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1):after, .best-seller-courses__cards-carousel > div > div:nth-child(2):after {
    font-size: 2.5rem !important;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.2) !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1) {
    right: 2.5rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(1):after {
    padding: 3.75rem 2.95rem 3.75rem 3.2rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(2) {
    left: 2.5rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(2):after {
    padding: 3.75rem 3.2rem 3.75rem 2.95rem !important;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(3) {
    display: none;
  }
  .best-seller-courses__cards-carousel > div > div:nth-child(4) {
    height: -moz-fit-content;
    height: fit-content;
  }
  .best-seller-courses__cards-carousel__course-card {
    width: 37.5rem;
    height: 35rem;
    box-shadow: 0 1.25rem 3.2825rem rgba(0, 0, 0, 0.1019607843);
    border-radius: 1.875rem;
    position: relative;
    display: inline-block;
  }
  .best-seller-courses__cards-carousel__course-card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 12.5rem;
    display: inline-block;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 1.875rem;
  }
  .best-seller-courses__cards-carousel__course-card__category-chip {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    border-radius: 0.75rem;
    padding: 0.12rem 0.7rem;
    color: white;
    top: 2.5rem;
    left: 3rem;
    border-radius: 1.875rem;
    padding: 0.3rem 1.75rem;
    font-size: 1.875rem;
  }
  .best-seller-courses__cards-carousel__course-card__course-img {
    width: 100%;
    height: 25rem;
    border-radius: 1.875rem 1.875rem 0 0;
  }
  .best-seller-courses__cards-carousel__course-card__card-body {
    padding: 1.5rem 2.5rem;
    display: flex;
    align-items: unset;
    justify-content: space-between;
    flex-direction: column;
    height: 26%;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header {
    display: flex;
    align-items: center;
    justify-content: unset;
    position: relative;
    padding: 0 0 1.95325rem 0;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__trainer-img-box {
    display: inline-block;
    font-size: 1.25rem;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__trainer-img-box img {
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    margin-left: 1.5rem;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details {
    display: inline-block;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details__title {
    font-size: 2.1875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 25.5rem;
  }
  .best-seller-courses__cards-carousel__course-card__card-body__card-header__course-details__author {
    font-size: 2.0325rem;
    width: 25.5rem;
  }
  .watch-subscribed-course {
    font-size: 2.25rem !important;
    padding: 1.25rem 2.5rem;
    border-radius: 1.75rem;
  }
}/*# sourceMappingURL=best-seller-courses.module.css.map */