  $primary-red: #AF151F;
  $dark-black:#222222;
  $grey:#777777;
  $lightgrey: rgba(0,0,0,0.05);
  $pale-red:#F7E7E8;
  $drop-shadow: 0 0 1.25rem #0000001A;
  $icons-green:#198754;
  $borders-grey:#707070;
