@charset "UTF-8";
.course-details-section {
  margin-top: 3.2rem;
  width: 43rem;
  padding-bottom: 2.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.course-details-section__title {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--dark-black);
  margin-bottom: 1rem;
}

.course-details-section__para {
  font-size: 1rem;
  color: var(--grey) !important;
  --max-lines: 5;
  --line-height: 1.4;
  margin-bottom: 0;
  max-height: calc(var(--max-lines) * 1rem * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
  padding-bottom: 2rem;
}
.course-details-section__para:has(+ .course-details-section__expand-collapse-btn:checked) {
  max-height: none;
}
.course-details-section__para:has(+ .course-details-section__expand-collapse-btn:not(:checked)):before {
  content: "";
  position: absolute;
  height: calc(2rem * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--tadarab-light-bg));
}

.course-details-section__expand-collapse-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.125rem;
  font-weight: 800;
  background-color: white;
  color: #AF151F;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.8rem 0rem 1rem 0;
  cursor: pointer;
  z-index: 4;
  display: flex;
  align-items: unset;
  justify-content: unset;
  background-color: var(--tadarab-light-bg);
}
.course-details-section__expand-collapse-btn:before {
  content: "أقرأ المزيد";
  margin-left: 0.5rem;
}
.course-details-section__expand-collapse-btn:after {
  content: url("/images/dropdown3.svg");
  transition: all 0.4s ease;
}
.course-details-section__expand-collapse-btn:checked:after {
  content: url("/images/dropdown3.svg");
  transform: rotate(180deg);
  transition: all 0.4s ease;
}
.course-details-section__expand-collapse-btn:checked:before {
  content: "أقرأ أقل";
  margin-left: 0.5rem;
}

@media (max-width: 575px) {
  .course-details-section {
    margin-top: 7rem;
    width: 100%;
    padding-bottom: 6.25rem;
    order: 4;
  }
  .course-details-section__title {
    font-size: 3.15rem;
    margin-bottom: 2.5rem;
  }
  .course-details-section__para {
    font-size: 2.1875rem;
    color: var(--grey) !important;
    max-height: calc(var(--max-lines) * 0.875rem * 2.5 * var(--line-height));
    padding-bottom: 5rem;
  }
  .course-details-section__para:has(+ .course-details-section__expand-collapse-btn:not(:checked)):before {
    height: calc(5rem * var(--line-height));
  }
  .course-details-section__expand-collapse-btn {
    font-size: 2.8125rem;
  }
  .course-details-section__expand-collapse-btn:before {
    margin-left: 1.25rem;
  }
  .course-details-section__expand-collapse-btn:checked:before {
    margin-left: 1.25rem;
  }
  .course-details-section__expand-collapse-btn:after {
    content: url("/images/dropdown4.svg");
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .course-details-section__expand-collapse-btn:checked:after {
    content: url("/images/dropdown4.svg");
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}/*# sourceMappingURL=course-details-section.module.css.map */