@import "../../../../styles/mixins";

.send-invitations {
    margin-top: 1.5rem;
}

.send-invitations-outercard {
    margin-top: 5rem;
    width: 33.75rem;
    background-color: var(--pale-red-bg);
    border-radius: 1.375rem 1.375rem 2rem 2rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0rem 0rem 2.5rem #00000014;
}


.send-invitations-outercard__title-box {
    @include flex(center, flex-start);
    gap: 1rem;
    padding: 1.6875rem 3rem;

    img {
        width: 4.375rem;
        height: 4.375rem;
    }
}

.send-invitations-outercard__title-box__title {
    @include flex(flex-start, center);
    flex-direction: column;
    color: var(--primary-red);

    div:nth-of-type(1) {
        font-size: 1.4rem;
        font-weight: 800;
    }

    div:nth-of-type(2) {
        font-size: 1.125rem;
    }

}

.send-invitations-outercard__inner-card {
    @include flex(flex-start, center);
    flex-direction: column;
    background-color: var(--tadarab-bg);
    border-radius: 1.375rem;
    padding: 2.2rem;
    gap: 1rem;

    &>div:nth-of-type(1) {
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--dark-black);
    }

    &>div:nth-of-type(2) {
        font-size: 1rem;
        color: var(--grey);
    }

    form {
        @include flex(flex-start, center);
        flex-direction: column;
        width: 100%;

        label {
            font-size: 0.875rem;
            font-weight: 700;
            color: var(--grey);
            margin-bottom: 0.2rem;
        }

        input {
            color: #222;
            padding: 0 1rem;
            width: 100%;
            height: 2.8rem;
            font-size: 1.05rem;
            border-radius: 0.75rem;
            outline: none !important;
            border: 0.0625rem solid #E2E2E2;

            &:active,
            &:focus {
                outline: 0 !important;
                -webkit-appearance: none;
                box-shadow: none !important;
            }

            &::placeholder {
                color: rgba(51, 51, 51, 0.5);
                height: 2.5rem;
            }
        }
    }

    button {
        @include contained-button;
        width: 70%;
        height: 2.9rem;
        margin-top: 0.8rem;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 0.375rem 0.75rem;
        border-radius: 0.75rem;
    }

}